<!--
|--------------------------------------------------------------------------
|                                 Hero
|--------------------------------------------------------------------------
-->

  <section id="adara-hero">
    <div class="row">
      <div class="small-12 medium-12 large-12 columns">
        <div class="adara-hero-image-container">
          <img src="images/artists/adara/adara-crop.jpg" alt="" />
        </div> <!--/.adara-hero-image-container-->
      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </section>





<!--
|--------------------------------------------------------------------------
|                          Header Text & Copy
|--------------------------------------------------------------------------
-->

  <section id="adara-header">
    <div class="row">
      <div class="small-12 medium-12 large-12 columns">
        <h3 class="adara-header-text">THE NEXT ERA <br>of ELECTRONIC &amp; POP MUSIC  </h3>
        <div id="share"></div>
        <p>
          We met up with M-Audio user, <strong><a href="https://www.facebook.com/adaramusic" target="_blank">Adara</a></strong>. A singer, songwriter, instrumentalist, dancer and fashionista, she is inspired by her vivid imagination and free spirit. She captures her audience and takes them on a journey where they can discover the hidden beauties of life.
        </p>

        <p>
          <em>Her sound has landed her features with the likes of LTN, Estiva, Hazem Beltagui, Club Banditz, and DJ Shogun. Her music has already been featured on Armada Records, Enhanced Music, Universal, and Future Sounds of Egypt. Her trance songs have repeatedly been played on A State of Trance and have received support from many top DJs.</em>
        </p>
      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </section>




<!--
|--------------------------------------------------------------------------
|                                 Soundcloud
|--------------------------------------------------------------------------
-->

  <section id="adara-soundcloud">
    <div class="row">
      <div class="small-12 medium-12 large-12 columns">
        <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/176558697&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </section>





<!--
|--------------------------------------------------------------------------
|                                 Copy
|--------------------------------------------------------------------------
-->

  <section id="adara-copy">
    <div class="row">
      <div class="small-12 medium-12 large-12 columns">
        <strong>Hey Adara, what’re you up to?</strong>
        <p>
          I’ve been working on so many exciting projects! I have new collaborations coming out with very talented DJs and producers, releasing my debut EP called Afterglow, performing, participating in writing camps, and creating new pieces for what I hope will become my own futuristic clothing line. So far, we have been designing amazing outfits for my performances and upcoming music videos. A lot of what you already see on stage or in my photos are pieces we have already created. I’ve been working really closely with some talented new designers, Kat Guame (Kats Original Designs) and Brittany Westmorland.
        </p>


        <strong>Tell us more about your projects and collaborations?</strong>
        <p>
          I’m really excited about my debut EP, Afterglow. I’ve had an amazing time collaborating and singing with a lot of talented international artists, but it’s really rewarding to be able to put out my own original music as well. We get to be in full control of this musical world we’ve created in Afterglow. I also have a few new collaborations coming out that I can’t wait to share! I’m also really excited for future collaborations with SM Entertainment in the KPOP world.
        </p>


        <strong>How did the collaboration with SM Town come about?</strong>
        <p>
          I was honored to be a writer in the Archipelago hosted music camp at SM Entertainment’s office in Seoul, South Korea this past March. My producer, Ross Lara, has had a lot of success in the KPOP market and when SM decided to launch their newest dance label, ScreaM Records, they invited Ross and his company to host a writing camp to create new electronic music for their artists. Recently, one of the songs I wrote was placed on Luna’s (lead singer of F(x)) debut mini album. It was such an awesome experience hearing my song “Galaxy” come to life and translated to Korean! I’m really excited for future collaborations with SM Town and I’m dying to travel back to Seoul. It’s one of my new favorite cities.
        </p>


        <strong>How did you get your start in music and what led you to the EDM world?</strong>
        <p>
          Since I was a little girl, I always found that music was the easiest way to express myself. My dad bought me an antique upright grand piano when I was 7 and that really changed my life. I was introduced to electronic music a few years ago through my producer, Ross Lara (founder of Archipelago Entertainment). Before him, I had been making pop alternative music.  It wasn’t until I discovered electronica that I finally found my home.  Electronic Dance Music is such an expansive and ever evolving genre.  It really gives me the freedom to create whatever I imagine without any restrictions.   I love adding a hint of magic and beauty to my stories.  I finally feel like I fit in.  The sky’s the limit.
        </p>  

        <div class="adara-artist-page-video-container flex-video widescreen">
          <iframe width="1280" height="720" src="https://www.youtube.com/embed/_pR575Gxuww?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div> <!--/.adara-video-container-->

        <ul class="adara-ul">
          <li><span>LINKS:</span></li>
          <li>
            <a href="https://www.facebook.com/adaramusic/" target="_blank">Adara</a>
          </li>
          <li>
            <a href="https://www.facebook.com/smtown/" target="_blank">SMTOWN</a>
          </li>
          <li>
            <a href="https://archipelagoent.com/" target="_blank">Archipelago ent</a>
          </li>
        </ul>

      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </section>
