/*
|--------------------------------------------------------------------------
|                                 Categories
|--------------------------------------------------------------------------
*/

  .slick-prev {
    z-index: 999;
    left: 0;
    // border: 3px solid red;
  }

  .slick-next {
    right: 30px;
    // border: 3px solid red;
  }

  .slick-prev:before,
  .slick-next:before {
    color: black;
    font-size: 50px;
  }

  .slick-center .cat-container-overlay{
    display: none;
  }

  .slick-dots button:before {
    color: #B4C5CE !important;
  }


  section#categories {
    padding-bottom: 40px;
    background: #35373A;

    .categories-label {
      padding-left: 30px;
      padding-bottom: 40px;

      .categories-label-accent-color {
        background: #C1CED6;
        height: 4px;
        width: 130px;
      }

      h6 {

        color: #CBC8C7;
        letter-spacing: 2px;
      }
    }

    .categories-container {
      position: relative;
    }

    .cat-container-header {
      z-index: 10;
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center;
      background: rgba(164, 185, 196, .7);

      p {
        color: #fff;
        margin: 0;
        padding: 10px 0;
      }
    }

    .cat-container-overlay {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(164, 185, 196, .4);
      // border: 5px solid red;
    }



  } /* section#categories */
