/*
|--------------------------------------------------------------------------
|                                 Community
|--------------------------------------------------------------------------
*/

  section#community {
    background: #54565B;
    // padding: 200px 0;


    .columns {
      padding: 0;
    }

    .community-label {
      padding-left: 30px;

      .community-label-accent-color {
        background: #C1CED6;
        height: 4px;
        width: 130px;
      }

      h6 {

        color: #CBC8C7;
        letter-spacing: 2px;
      }
    }

    .community-row {
      position: relative;
      // border: 5px solid gold;
    }

    .community-row-1 {
      margin-top: 30px;
    }



    .community-image-container {
      position: relative;
      // border: 5px solid purple;

      img {
        width: 100%;
        height: 450px;
      }
    }

    .community-row-header {
      z-index: 999;
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center;
      background: rgba(38, 70, 81, .4);

      h5 {
        color: #E1E1E1;
        letter-spacing: 10px;
        margin: 0;
      }
    }

    .community-row-copy-container {
      padding: 30px 30px;
      // border: 5px solid gold;

      p {
        margin: 0;
        color: #E1E1E1;
        font-family: $font-secondary;
      }
    }

    .community-row-2 {
      background: #fff;
    }

    .code-rebate-container,
    .register-product-container,
    .drivers-manuals-container {
      width: 100%;
      height: 450px;
      // border: 5px solid gold;
    }

    /* Code Rebates */
    .code-rebate-overlay-container {
      width: 100%;
      height: 450px;
      position: absolute;
      top: 0;
      background: rgba(38, 70, 81, .9);
      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        color: #fff;
        letter-spacing: 10px;
        font-family: $font-secondary;
        margin: 0;
      }
    }

    /* Register Product */
    .register-product-wrapper {
      width: 100%;
      height: 450px;
      position: absolute;
      top: 0;
      background: rgba(38, 70, 81, .9);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;

      h3 {
        color: #fff;
        letter-spacing: 10px;
        font-family: $font-secondary;
        margin: 0;
      }
    }

    /* Drivers & Manuals */
    .drivers-manuals-wrapper {
      width: 100%;
      height: 450px;
      position: absolute;
      top: 0;
      background: rgba(38, 70, 81, .9);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h3 {
        color: #fff;
        letter-spacing: 10px;
        margin: 0;
        font-weight: 100;
      }

      .drivers-manuals-divider {
        width: 50%;
        height: 1px;
        background: $m-audio-orange;
        margin: 20px 0;
      }
    } /* Drivers & Manuals */



  } /* section#community */
