/*
|--------------------------------------------------------------------------
|                                 Community
|--------------------------------------------------------------------------
*/

  section#community {
    background: #54565B;
    // padding: 200px 0;


    .columns {
      padding: 0;
    }

    .community-label {
      padding-left: 30px;

      .community-label-accent-color {
        background: #C1CED6;
        height: 4px;
        width: 130px;
      }

      h6 {

        color: #CBC8C7;
        letter-spacing: 2px;
      }
    }

    .community-row {
      position: relative;
      // border: 5px solid gold;
    }

    .community-row-1 {
      margin-top: 30px;
    }

    .community-row-header {
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center;
      background: rgba(38, 70, 81, .4);

      h5 {
        color: #E1E1E1;
        letter-spacing: 10px;
        margin: 0;
      }
    }

    .community-row-copy-container {
      padding: 30px 30px;
      // border: 5px solid gold;

      p {
        margin: 0;
        color: #E1E1E1;
        font-family: $font-secondary;
      }
    }

  } /* section#community */
