/*
|--------------------------------------------------------------------------
|                                 FEATURED PRODUCTS 2
|--------------------------------------------------------------------------
*/

  section#featured-products-2 {
    padding: 4% 0;
    height: 50vh;
    background: url('../images/stock/3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    // border: 5px solid green;
  }
