/*
|--------------------------------------------------------------------------
|                                 SINGLE PRODUCT FEATURE
|--------------------------------------------------------------------------
*/

  section#single-product-feature {
    background: rgb(218, 217, 215);
    padding-bottom: 30px;
    // border: 5px solid red;

    .single-product-feature-label {
      padding-left: 30px;
      padding-bottom: 30px;

      .single-product-feature-label-accent-color {
        background: #839FAE;
        height: 4px;
        width: 130px;
      }

      h6 {
        color: #77777B;
        letter-spacing: 2px;
      }
    }

/*
|--------------------------------------------------------------------------
|                                 Right Column
|--------------------------------------------------------------------------
*/

    .single-product-feature-right-column-container {
      text-align: center;
      // border: 5px solid green;
    }

    .single-product-feature-logo {



      svg {
        width: 500px;
        padding-bottom: 20px;
        border-bottom: 5px solid #AAA9A7;
      }
    }

    .single-product-feature-sub-title {

      p {
        font-family: $font-secondary;
        font-size: 1.2rem;
        color: #77777B;
      }
    }

    .single-product-feature-features {
      // padding: 0 10%;
      // border: 5px solid green;

      p {
        width: 500px;
        margin: 0 auto;
        font-weight: 100;
        font-size: .8rem;
      }

      .single-product-feature-features-pipe {
        color: #839FAE;
      }

      .features-blue-text {
        letter-spacing: 2px;
        color: #839FAE;
      }
    }

    .single-product-feature-learn-more-btn{
      a {
        color: #77777B;
      }
      span {
        background: #D2D1D0;
        font-family: $font-secondary;
        font-size: .8rem;
      }
    }

  } /* section#single-product-feature */
