<!--
|--------------------------------------------------------------------------
|                                 BLOG - HOME PAGE
|--------------------------------------------------------------------------
-->

  <section id="blog-home-page">
    <div class="row">

      <div class="small-12 medium-12 large-6 columns">
        <div class="blog-left-column-container">
          <div class="blog-label-card">
            <h3>Artists.</h3>
          </div> <!-- /.blog-label-card -->


          <div class="blog-post-container blog-post-left-1">
            <img src="images/blog/2.jpg">
            <div class="blog-post-copy-container">
              <span><em>May 3, 2016</em></span>
              <h4>Title of my blog post</h4>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean lacinia bibendum nulla sed consectetur.</p>
            </div> <!-- /.blog-post-copy-container -->
          </div> <!-- /.blog-post-container -->


          <div class="blog-post-container blog-post-left-2">
            <img src="images/blog/4.jpg">
            <div class="blog-post-copy-container">
              <span><em>May 14, 2016</em></span>
              <h4>Title of my blog post</h4>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean lacinia bibendum nulla sed consectetur.</p>
            </div> <!-- /.blog-post-copy-container -->
          </div> <!-- /.blog-post-container -->
        </div> <!-- /.blog-left-column-container -->
      </div> <!-- /.col -->


      <div class="small-12 medium-12 large-6 columns">
        <div class="blog-right-column-container">


          <div class="blog-post-container blog-post-right-1">
            <img src="images/blog/1.jpg">
            <div class="blog-post-copy-container">
              <span><em>May 7, 2016</em></span>
              <h4>Title of my blog post</h4>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean lacinia bibendum nulla sed consectetur.</p>
            </div> <!-- /.blog-post-copy-container -->
          </div> <!-- /.blog-post-container -->


          <div class="blog-post-container blog-post-right-2">
            <img src="images/blog/3.jpg">
            <div class="blog-post-copy-container">
              <span><em>April 24, 2016</em></span>
              <h4>Title of my blog post</h4>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean lacinia bibendum nulla sed consectetur.</p>
            </div> <!-- /.blog-post-copy-container -->
          </div> <!-- /.blog-post-container -->


        </div> <!-- /.blog-right-column-container -->
      </div> <!-- /.col -->

    </div> <!-- /.row -->
  </section>
