<!--
|--------------------------------------------------------------------------
|                                 Categories
|--------------------------------------------------------------------------
-->

  <section id="categories">

    <div class="categories-label">
      <div class="categories-label-accent-color"></div>
      <h6>PRODUCTS</h6>
    </div>

    <div class="home-page-categories">

      <!-- NEW PRODUCTS
      ====================================================-->
      <div class="categories-container cat-container-1">
        <img src="images/categories/new-products.jpg" alt="" />
        <div class="cat-container-overlay new-products-overlay">
          <div class="cat-container-header new-products-header">
            <p>[ NEW PRODUCTS ]</p>
          </div> <!--/.cat-container-header-->
        </div>
      </div> <!--/.categories-container cat-container-1-->


      <!-- USB AUDIO | MIDI INTERFACES
      ====================================================-->
      <div class="categories-container cat-container-2">
        <img src="images/categories/usb-midi.jpg" alt="" />
        <div class="cat-container-overlay usb-midi-overlay">
          <div class="cat-container-header usb-midi-header">
            <p>[ USB AUDIO | MIDI INTERFACES ]</p>
          </div> <!--/.cat-container-header-->
        </div> <!--/.cat-container-overlay-->
      </div>

      <!-- KEYBOARD CONTROLLERS
      ====================================================-->
      <div class="categories-container cat-container-3">
        <img src="images/categories/controllers.jpg" alt="" />
        <div class="cat-container-overlay keyboard-controllers-overlay">
          <div class="cat-container-header keyboard-controllers-header">
            <p>[ KEYBOARD CONTROLLERS ]</p>
          </div> <!--/.cat-container-header-->
        </div> <!--/.cat-container-overlay-->
      </div>

      <!-- MONITORS | HEADPHONES
      ====================================================-->
      <div class="categories-container cat-container-4">
        <img src="images/categories/monitors.jpg" alt="" />
        <div class="cat-container-overlay monitors-headphones-overlay">
          <div class="cat-container-header monitors-headphones-header">
            <p>[ MONITORS | HEADPHONES ]</p>
          </div> <!--/.cat-container-header-->
        </div> <!--/.cat-container-overlay-->
      </div>

      <!-- MICROPHONES
      ====================================================-->
      <div class="categories-container cat-container-5">
        <img src="images/categories/microphones.jpg" alt="" />
        <div class="cat-container-overlay microphones-overlay">
          <div class="cat-container-header microphones-header">
            <p>[ MICROPHONES ]</p>
          </div> <!--/.cat-container-header-->
        </div> <!--/.cat-container-overlay-->
      </div>

      <!-- ACCESSORIES
      ====================================================-->
      <div class="categories-container cat-container-6">
        <img src="images/categories/accessories.jpg" alt="" />
        <div class="cat-container-overlay accessories-overlay">
          <div class="cat-container-header accessories-header">
            <p>[ ACCESSORIES ]</p>
          </div> <!--/.cat-container-header-->
        </div> <!--/.cat-container-overlay-->
      </div>

      <!-- LEGACY
      ====================================================-->
      <div class="categories-container cat-container-7">
        <img src="images/categories/legacy.jpg" alt="" />
        <div class="cat-container-overlay legacy-overlay">
          <div class="cat-container-header legacy-header">
            <p>[ LEGACY ]</p>
          </div> <!--/.cat-container-header-->
        </div> <!--/.cat-container-overlay-->
      </div>

    </div> <!--/.home-page-categories-->
  </section>
