<!--
|--------------------------------------------------------------------------
|                                 Categories
|--------------------------------------------------------------------------
-->

  <section id="categories">

    <div class="categories-label">
      <div class="categories-label-accent-color"></div>
      <h6>PRODUCTS</h6>
    </div>

    <div class="home-page-categories">

      <div id="cat-container-1" class="categories-container cat-container-1">
        <div class="cat-container-header">
          <p>[ NEW PRODUCTS ]</p>
        </div> <!--/.cat-container-header-->
        <img src="images/categories/new-products.jpg" alt="" />
        <div class="cat-container-overlay new-products-overlay"></div>
      </div> <!--/.categories-container cat-container-1-->


      <div class="categories-container cat-container-2">
        <div class="cat-container-header">
          <p>[ USB AUDIO | MIDI INTERFACES ]</p>
        </div> <!--/.cat-container-header-->
        <img src="images/categories/usb-midi.jpg" alt="" />
        <div class="cat-container-overlay"></div>
      </div>

      <div class="categories-container cat-container-3">
        <div class="cat-container-header">
          <p>[ KEYBOARD CONTROLLERS ]</p>
        </div> <!--/.cat-container-header-->
        <img src="images/categories/controllers.jpg" alt="" />
        <div class="cat-container-overlay"></div>
      </div>

      <div class="categories-container cat-container-4">
        <div class="cat-container-header">
          <p>[ MONITORS | HEADPHONES ]</p>
        </div> <!--/.cat-container-header-->
        <img src="images/categories/monitors.jpg" alt="" />
        <div class="cat-container-overlay"></div>
      </div>

      <div class="categories-container cat-container-5">
        <div class="cat-container-header">
          <p>[ MICROPHONES ]</p>
        </div> <!--/.cat-container-header-->
        <img src="images/categories/microphones.jpg" alt="" />
        <div class="cat-container-overlay"></div>
      </div>


      <div class="categories-container cat-container-6">
        <div class="cat-container-header">
          <p>[ ACCESSORIES ]</p>
        </div> <!--/.cat-container-header-->
        <img src="images/categories/accessories.jpg" alt="" />
        <div class="cat-container-overlay"></div>
      </div>

      <div class="categories-container cat-container-7">
        <div class="cat-container-header">
          <p>[ LEGACY ]</p>
        </div> <!--/.cat-container-header-->
        <img src="images/categories/legacy.jpg" alt="" />
        <div class="cat-container-overlay"></div>
      </div>

    </div> <!--/.home-page-categories-->
  </section>
