<!--===============================================================
                          CATEGORIES
===================================================================-->

  <section id="categories">

    <div id="categories-container">
      <div class="divider gradient"></div>
      <h5 class="categories-header">Categories</h5>


  <!--=======
      ROW #1
  ===========-->

  <div class="row full-width-row ">
    <div class="small-6 medium-3 columns">
      <div class="categories-wrapper">
        <div class="grid-img-1 grid-img-div">
          <div class="overlay"></div>
          <h4 class="grid-h4">New Products</h4>
          <a href="http://www.akaipro.com/category/new-products"><img src="images/categories/1.jpg" alt=""></a>
        </div> <!-- grid-img-1 grid-img-div -->
      </div> <!-- /.categories-wrapper -->
    </div> <!-- columns -->

    <div class="small-6 medium-3 columns">
      <div class="categories-wrapper">
        <div class="grid-img-2 grid-img-div">
          <div class="overlay"></div>
          <h4 class="grid-h4">USB Audio | MIDI Interfaces</h4>
          <a href="http://www.akaipro.com/category/mpc-series"><img src="images/categories/2.jpg" alt=""></a>
        </div> <!-- grid-img-2 grid-img-div -->
      </div> <!-- /.categories-wrapper -->
    </div> <!-- columns -->

    <div class="small-6 medium-3 columns">
      <div class="categories-wrapper">
        <div class="grid-img-3 grid-img-div">
          <div class="overlay"></div>
          <h4 class="grid-h4">Keyboard Controllers</h4>
          <a href="http://www.akaipro.com/category/keyboards"><img src="images/categories/3.jpg" alt=""></a>
        </div> <!-- grid-img-3 grid-img-div -->
      </div> <!-- /.categories-wrapper -->
    </div> <!-- columns -->

    <div class="small-6 medium-3 columns">
      <div class="categories-wrapper">
        <div class="grid-img-4 grid-img-div">
          <div class="overlay"></div>
          <h4 class="grid-h4">Trigger Finger Pro</h4>
          <a href="http://www.akaipro.com/category/dj-controllers"><img src="images/categories/4.jpg" alt=""></a>
        </div> <!-- grid-img-4 grid-img-div -->
      </div> <!-- /.categories-wrapper -->
    </div> <!-- columns -->
  </div> <!-- row -->




  <!--=======
      ROW #2
  ===========-->

  <div class="row full-width-row ">
    <div class="small-6 medium-3 columns">
      <div class="categories-wrapper">
        <div class="grid-img-5 grid-img-div">
          <div class="overlay"></div>
          <h4 class="grid-h4">Monitors | Headphones</h4>
          <a href="http://www.akaipro.com/category/pad-controllers"><img src="images/categories/5.jpg" alt=""></a>
        </div> <!-- grid-img-5 grid-img-div -->
      </div> <!-- /.categories-wrapper -->
    </div> <!-- columns -->

    <div class="small-6 medium-3 columns">
      <div class="categories-wrapper">
        <div class="grid-img-6 grid-img-div">
          <div class="overlay"></div>
          <h4 class="grid-h4">Microphones</h4>
          <a href="http://www.akaipro.com/category/ableton-controllers"><img src="images/categories/6.jpg" alt=""></a>
        </div> <!-- grid-img-6 grid-img-div -->
      </div> <!-- /.categories-wrapper -->
    </div> <!-- columns -->

    <div class="small-6 medium-3 columns">
      <div class="categories-wrapper">
        <div class="grid-img-7 grid-img-div">
          <div class="overlay"></div>
          <h4 class="grid-h4">Accessories</h4>
          <a href="http://www.akaipro.com/category/ewi-series"><img src="images/categories/7.jpg" alt=""></a>
        </div> <!-- grid-img-7 grid-img-div -->
      </div> <!-- /.categories-wrapper -->
    </div> <!-- columns -->

    <div class="small-6 medium-3 columns">
      <div class="categories-wrapper">
        <div class="grid-img-8 grid-img-div">
          <div class="overlay"></div>
          <h4 class="grid-h4">Legacy Products</h4>
          <a href="http://www.akaipro.com/category/monitors"><img src="images/categories/8.jpg" alt=""></a>
        </div> <!-- grid-img-8 grid-img-div -->
      </div> <!-- columns -->
    </div> <!-- /.categories-wrapper -->
  </div> <!-- row -->

  </section>
