<!--
|--------------------------------------------------------------------------
|                                 FEATURED CALLOUTS
|--------------------------------------------------------------------------
-->

  <section id="community">

    <div class="community-label">
      <div class="community-label-accent-color"></div>
      <h6>COMMUNITY</h6>
    </div>



    <div class="row full-width-row community-row community-row-1" data-equalizer data-equalize-on="large">

      <div class="community-row-header">
        <h5>Artist / Product / News 1</h5>
      </div>

      <div class="small-12 medium-12 large-4 columns">
        <div class="community-image-container">
          <img src="images/callouts/drums.jpg" alt="" />
        </div> <!--/.community-image-container-->
      </div> <!-- /.col -->

      <div class="small-12 medium-12 large-4 columns">
        <div class="community-image-container">
          <img src="images/callouts/guitar.jpg" alt="" />
        </div> <!--/.community-image-container-->
      </div> <!-- /.col -->

      <div class="small-12 medium-12 large-4 columns">
        <div class="community-image-container">
          <img src="images/callouts/1.jpg" alt="" />
        </div> <!--/.community-image-container-->
      </div> <!-- /.col -->
    </div> <!-- /.row -->

    <div class="community-row-copy-container">
      <p>
        Etiam porta sem malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum.
      </p>
    </div> <!--/.community-row-copy-->




    <div class="row full-width-row community-row community-row-2" data-equalizer data-equalize-on="large">

      <div class="community-row-header">
        <h5>Artist / Product / News 2</h5>
      </div>

      <div class="small-12 medium-12 large-4 columns">
        <div class="community-image-container">
          <img src="images/callouts/2.jpg" alt="" />
        </div> <!--/.community-image-container-->
      </div> <!-- /.col -->

      <div class="small-12 medium-12 large-4 columns">
        <div class="community-image-container">
          <img src="images/callouts/1.jpg" alt="" />
        </div> <!--/.community-image-container-->
      </div> <!-- /.col -->

      <div class="small-12 medium-12 large-4 columns">
        <div class="community-image-container">
          <img src="images/callouts/drums.jpg" alt="" />
        </div> <!--/.community-image-container-->
      </div> <!-- /.col -->
    </div> <!-- /.row -->

    <div class="community-row-copy-container">
      <p>
        Etiam porta sem malesuada magna mollis euismod. Nullam quis risus eget urna mollis ornare vel eu leo. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum.
      </p>
    </div> <!--/.community-row-copy-->
  </section>
