<!--
|--------------------------------------------------------------------------
|                                 FEATURED CALLOUTS
|--------------------------------------------------------------------------
-->

  <section id="community">

    <div class="community-label">
      <div class="community-label-accent-color"></div>
      <h6>WHAT'S NEW</h6>
    </div>

    <div class="row full-width-row community-row community-row-1" data-equalizer data-equalize-on="large">

      <!-- <div class="community-row-header">
        <h5>Artist / Product / News 1</h5>
      </div> -->

      <div class="small-12 medium-12 large-3 columns">
        <div class="community-image-container noblesse-oblige-container">
          <div class="community-row-header">
            <h5>Artist: Noblesse Oblige</h5>
          </div>
          <div class="zooming-animation-wrapper">
            <img src="images/community/noblese.jpg" alt="" />
          </div> <!--/.zooming-animation-wrapper-->
        </div> <!--/.community-image-container-->
      </div> <!-- /.col -->

      <div class="small-12 medium-12 large-3 columns">
        <div class="community-image-container code-rebate-container">
          <div class="community-row-header">
            <h5>Code Keyboards Rebate</h5>
          </div>
          <div class="zooming-animation-wrapper">
            <img src="images/community/code-closeup.jpg" alt="" />
            <div class="code-rebate-overlay-container">
              <!-- <h2>Code Keyboards Rebate</h2> -->
            </div> <!--/.code-rebate-overlay-container-->
          </div> <!--/.zooming-animation-wrapper-->
        </div> <!--/.community-image-container-->
      </div> <!-- /.col -->

      <div class="small-12 medium-12 large-3 columns">
        <div class="community-image-container adara-container">
          <div class="community-row-header">
            <h5>Artist: Adara</h5>
          </div>
          <div class="zooming-animation-wrapper">
            <img src="images/community/adara.jpg" alt="" />
          </div> <!--/.zooming-animation-wrapper-->
        </div> <!--/.community-image-container-->
      </div> <!-- /.col -->

      <div class="small-12 medium-12 large-3 columns">
        <div class="community-image-container neil-davidge-container">
          <div class="community-row-header">
            <h5>Artist: Neil Davidge</h5>
          </div>
          <div class="zooming-animation-wrapper">
            <img src="images/community/davidge.png" alt="" />
            <div class="neil-davidge-overlay-container">
              <!-- <h2>Artist: Neil Davidge</h2> -->
            </div> <!--/.neil-davidge-overlay-container-->
          </div> <!--/.zooming-animation-wrapper-->
        </div> <!--/.community-image-container-->
      </div> <!-- /.col -->

    </div> <!-- /.row -->



    <!--<div class="row full-width-row community-row community-row-2" data-equalizer data-equalize-on="large">-->

      <!-- <div class="community-row-header">
        <h5>Artist / Product / News 2</h5>
      </div> -->



      <!--<div class="small-12 medium-12 large-3 columns">-->
        <!--<div class="community-image-container drivers-manuals-container">-->
          <!--<div class="community-row-header">-->
            <!--<h5>Drivers &amp; Manuals</h5>-->
          <!--</div>-->
          <!--<img src="images/community/manual.png" alt="" />-->
          <!--<div class="drivers-manuals-wrapper">-->
            <!--<a href="#"><h3>DRIVERS</h3></a>-->
            <!--<div class="drivers-manuals-divider"></div>-->
            <!--<a href="#"><h3>MANUALS</h3></a>-->
          <!--</div> &lt;!&ndash;/.code-rebate-overlay-container&ndash;&gt;-->
        <!--</div> &lt;!&ndash;/.community-image-container&ndash;&gt;-->
      <!--</div> &lt;!&ndash; /.col &ndash;&gt;-->



      <!--<div class="small-12 medium-12 large-4 columns">-->
        <!--<div class="community-image-container register-product-container">-->
          <!--<div class="community-row-header">-->
            <!--<h5>Register Product</h5>-->
          <!--</div>-->
          <!--<img src="images/community/manual.png" alt="" />-->
          <!--<div class="register-product-wrapper">-->
            <!--<a href="#"><h3>Product<br>Registration</h3></a>-->
          <!--</div> &lt;!&ndash;/.code-rebate-overlay-container&ndash;&gt;-->
        <!--</div> &lt;!&ndash;/.community-image-container&ndash;&gt;-->
      <!--</div> &lt;!&ndash; /.col &ndash;&gt;-->


    <!--</div> &lt;!&ndash; /.row &ndash;&gt;-->

  </section>
