<!--
|--------------------------------------------------------------------------
|                                 Ctrl Keyboard Banner
|--------------------------------------------------------------------------
-->

  <section id="ctrl-banner">
    <div class="row full-width-row">
      <div class="small-12 medium-12 large-12 columns">
        <div class="control-banner-container">
          <a href="/products/view/ctrl49">
            <img src="images/ctrl/ctrl-banner.jpg" alt="" />
          </a>
        </div> <!--/.control-banner-container-->
      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </section>
