<!--
|--------------------------------------------------------------------------
|                                 FEATURED PRODUCTS 2
|--------------------------------------------------------------------------
-->

  <section id="featured-products-2">
    <div class="row full-width-row">

      <div class="small-12 medium-12 large-3 columns">
        <div class="featured-products-container">
          <img src="images/featured-products-2/1.jpg">
        </div> <!-- /.featured-products-container -->
      </div> <!-- /.col -->

      <div class="small-12 medium-12 large-3 columns">
        <div class="featured-products-container">
          <img src="images/featured-products-2/2.jpg">
        </div> <!-- /.featured-products-container -->
      </div> <!-- /.col -->

      <div class="small-12 medium-12 large-3 columns">
        <div class="featured-products-container">
          <img src="images/featured-products-2/3.jpg">
        </div> <!-- /.featured-products-container -->
      </div> <!-- /.col -->

      <div class="small-12 medium-12 large-3 columns">
        <div class="featured-products-container">
          <img src="images/featured-products-2/4.jpg">
        </div> <!-- /.featured-products-container -->
      </div> <!-- /.col -->

    </div> <!-- /.row -->
  </section>
