<!--===============================================================
                        FEATURED PRODUCTS
  ===================================================================-->

  <section id="featured-products">
  <div class="divider gradient"></div>
    <h5 class="featured-products-header">FEATURED PRODUCTS</h5>

      <div class="row full-width-row">
        <div class="small-6 medium-3 columns">
          <div class="featured-products-div fp-1">
            <a href="http://www.mpctouch.com"><img class="nav-block-img" src="images/featured-products-new/1.jpg"></a>
            <h5>Oxygen 49 MK IV</h5>
            <p>The World's First Multi-Touch Music Production Center</p>
          </div>
        </div> <!-- columns -->
        <div class="small-6 medium-3 columns">
          <div class="featured-products-div fp-2">
            <a href="http://www.akaipro.com/microsites/advance"><img class="nav-block-img" src="images/featured-products-new/2.jpg"></a>
            <h5>M-Track Eight</h5>
            <p>The Ultimate VST Keyboard Controller </p>
          </div>
        </div> <!-- columns -->
        <div class="small-6 medium-3 columns">
          <div class="featured-products-div fp-3">
            <a href="http://akaipro.com/index.php/product/timbre-wolf"><img class="nav-block-img" src="images/featured-products-new/3.jpg"></a>
            <h5>BX6 Carbon</h5>
            <p>Versatile Synth With Analog Bite</p>
          </div>
        </div> <!-- columns -->
        <div class="small-6 medium-3 columns">
          <div class="featured-products-div fp-4">
            <a href="http://akaipro.com/index.php/product/timbre-wolf"><img class="nav-block-img" src="images/featured-products-new/4.jpg"></a>
            <h5>Sputnik</h5>
            <p>Versatile Synth With Analog Bite</p>
          </div>
        </div> <!-- columns -->
      </div>


    </section>
