<!--
|--------------------------------------------------------------------------
|                                 FEATURED CALLOUTS
|--------------------------------------------------------------------------
-->

  <section id="featured-callouts">
    <div class="row full-width-row" data-equalizer data-equalize-on="large">

      <div class="small-12 medium-12 large-4 large-push-8 columns">
        <div class="featured-callouts-copy-container callout-copy-1" data-equalizer-watch>
          <h4>Artist Name</h4>
          <div class="featured-callouts-header-separator"></div>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis.</p>
          <h6>Read More...</h6>
        </div> <!-- /.featured-callouts-copy-container -->
      </div> <!-- /.col -->

      <div class="small-12 medium-12 large-4 large-pull-4 columns">
        <div class="featured-callouts-image-container" data-equalizer-watch>
          <img src="images/callouts/guitar.jpg">
        </div> <!-- /.featured-callouts-image-container -->
      </div> <!-- /.col -->

      <div class="small-12 medium-12 large-4 large-pull-4 columns">
        <div class="featured-callouts-image-container" data-equalizer-watch>
          <img src="images/callouts/drums.jpg">
        </div> <!-- /.featured-callouts-image-container -->
      </div> <!-- /.col -->




    </div> <!-- /.row -->




    <div class="row full-width-row" data-equalizer data-equalize-on="large">

      <div class="small-12 medium-12 large-4 columns">
        <div class="featured-callouts-copy-container callout-copy-2" data-equalizer-watch>
          <h4>Artist Name</h4>
          <div class="featured-callouts-header-separator"></div>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sed posuere consectetur est at lobortis.</p>
          <h6>Read More...</h6>
        </div> <!-- /.featured-callouts-copy-container -->
      </div> <!-- /.col -->

      <div class="small-12 medium-12 large-4 columns">
        <div class="featured-callouts-image-container" data-equalizer-watch>
          <img src="images/callouts/1.jpg">
        </div> <!-- /.featured-callouts-image-container -->
      </div> <!-- /.col -->

      <div class="small-12 medium-12 large-4 columns">
        <div class="featured-callouts-image-container" data-equalizer-watch>
          <img src="images/callouts/2.jpg">
        </div> <!-- /.featured-callouts-image-container -->
      </div> <!-- /.col -->

    </div> <!-- /.row -->
  </section>
