<!--=======
    HERO
===========-->

  <section id="hero">
    <div class="hero-carousel">
      <div><img data-lazy="images/stock/1.jpg"/></div>
      <div><img data-lazy="images/stock/2.jpg"/></div>
      <div><img data-lazy="images/stock/3.jpg"/></div>
      <div><img data-lazy="images/stock/4.jpg"/></div>
      <div><img data-lazy="images/stock/5.jpg"/></div>
      <div><img data-lazy="images/stock/6.jpg"/></div>
      <div><img data-lazy="images/stock/7.jpg"/></div>
      <div><img data-lazy="images/stock/8.jpg"/></div>
    </div>
  </section>







