<!--
|--------------------------------------------------------------------------
|                                 M-Tracks
|--------------------------------------------------------------------------
-->

  <section id="m-tracks">
    <div class="row full-width-row">

    <!-- COLUMN #1
    ==================================-->
      <div class="small-12 medium-12 large-3 columns">
        <div class="m-tracks-container">
          <div class="m-tracks-image-wrapper">
            <img src="images/m-tracks/1.png">
          </div> <!-- /.m-tracks-image-wrapper -->

          <div class="m-track-header">
            <h3>M-Track</h3>
          </div> <!-- /.m-track-header -->

          <div class="m-tracks-divider"></div>

          <div class="m-tracks-copy-wrapper">
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla.</p>
          </div> <!-- /.m-tracks-copy-wrapper -->
          <button class="m-tracks-learn-more-btn">Learn More</button>
        </div> <!-- /.m-tracks-container -->
      </div> <!-- /.col -->


      <div class="small-12 medium-12 large-3 columns">
        <div class="m-tracks-container">
          <div class="m-tracks-image-wrapper">
            <img src="images/m-tracks/2.png">
          </div> <!-- /.m-tracks-image-wrapper -->

          <div class="m-track-header">
            <h3>M-Track</h3>
          </div> <!-- /.m-track-header -->

          <div class="m-tracks-divider"></div>

          <div class="m-tracks-copy-wrapper">
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla.</p>
          </div> <!-- /.m-tracks-copy-wrapper -->
          <button class="m-tracks-learn-more-btn">Learn More</button>
        </div> <!-- /.m-tracks-container -->
      </div> <!-- /.col -->


      <div class="small-12 medium-12 large-3 columns">
        <div class="m-tracks-container">
          <div class="m-tracks-image-wrapper">
            <img src="images/m-tracks/3.png">
          </div> <!-- /.m-tracks-image-wrapper -->

          <div class="m-track-header">
            <h3>M-Track</h3>
          </div> <!-- /.m-track-header -->

          <div class="m-tracks-divider"></div>

          <div class="m-tracks-copy-wrapper">
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla.</p>
          </div> <!-- /.m-tracks-copy-wrapper -->
          <button class="m-tracks-learn-more-btn">Learn More</button>
        </div> <!-- /.m-tracks-container -->
      </div> <!-- /.col -->


      <div class="small-12 medium-12 large-3 columns">
        <div class="m-tracks-container">
          <div class="m-tracks-image-wrapper">
            <img src="images/m-tracks/1.png">
          </div> <!-- /.m-tracks-image-wrapper -->

          <div class="m-track-header">
            <h3>M-Track</h3>
          </div> <!-- /.m-track-header -->

          <div class="m-tracks-divider"></div>

          <div class="m-tracks-copy-wrapper">
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla.</p>
          </div> <!-- /.m-tracks-copy-wrapper -->
          <button class="m-tracks-learn-more-btn">Learn More</button>
        </div> <!-- /.m-tracks-container -->
      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </section>
