<!--
|--------------------------------------------------------------------------
|                                 QUOTE STRIP
|--------------------------------------------------------------------------
-->

  <section id="quote-strip">
    <div class="row full-width-row">
      <div class="small-12 medium-12 large-12 columns">
        <div class="quote-strip-container">
          <blockquote>
            "Nullam id dolor id nibh ultricies vehicula ut id elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam."
            <cite>The Artist</cite>
          </blockquote>
        </div> <!-- /.quote-strip-container -->
      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </section>
