<!--
|--------------------------------------------------------------------------
|                                 SOCIAL FEED
|--------------------------------------------------------------------------
-->

  <section id="social-feed">
    <div class="row full-width-row">
      <div class="small-12 medium-12 large-12 columns">
        <h4 class="text-center">Social media feeds go here...</h4>
        <div class="social-feed-container"></div>
      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </section>

