/*
|--------------------------------------------------------------------------
|                                 FONT VARIABLES
|--------------------------------------------------------------------------
*/

$font-primary: "futura-pt",Helvetica,Arial,sans-serif;

$font-secondary: "Courier New",Helvetica,Arial,sans-serif;

$micro-grandma-thin: "MicrogrammaDMedExt",Helvetica,Arial,sans-serif;

$micro-grandma-bold: "MicrogrammaDBolExt",Helvetica,Arial,sans-serif;

// $font-ubuntu-mono: 'Ubuntu Mono', sans-serif;
//
// $font-roboto: 'Roboto', sans-serif;
//
// $font-source-sans-pro: 'Source Sans Pro', sans-serif;
//
// $font-dosis: 'Dosis', sans-serif;;
//
// $font-lato: 'Lato', sans-serif;
//
// $font-ubuntu: 'Ubuntu', sans-serif;
//
// $font-raleway: 'Raleway', sans-serif;
//
// $font-catamaran: 'Catamaran', sans-serif;
//
// $font-rubik: 'Rubik', sans-serif;
//
// $font-karma: 'Karma', sans-serif;
//
// $font-fira-sans: 'Fira Sans', sans-serif;
//
// $font-arvo: 'Arvo', sans-serif;
//
// $font-montserrat: 'Montserrat', sans-serif;
//
// $font-arimo: 'Arimo', sans-serif;
//
// $font-open-sans: 'Open Sans', sans-serif;
//
// $font-josefin-slab: 'Josefin Slab', sans-serif;
//
// $font-pt-sans: 'PT Sans', sans-serif;


/*
|--------------------------------------------------------------------------
|                                 FONT IMPORTS
|--------------------------------------------------------------------------
*/


// @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);

// @import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,700,500);

// @import url(https://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);

// @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700);

// @import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700);

// @import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700);

// @import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,600,700);

// @import url(https://fonts.googleapis.com/css?family=Catamaran:400,100,200,300,500,600,700);

// @import url(https://fonts.googleapis.com/css?family=Rubik:400,300,500,700);

// @import url(https://fonts.googleapis.com/css?family=Karma:400,300,500,600,700);

// @import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300,500,700);

// @import url(https://fonts.googleapis.com/css?family=Arvo:400,700);

// @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

// @import url(https://fonts.googleapis.com/css?family=Arimo:400,700);

// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

// @import url(http://fonts.googleapis.com/css?family=Josefin+Slab:400,100,300,600,700);

// @import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
