/*
|--------------------------------------------------------------------------
|                                 CUSTOM VARIABLES
|--------------------------------------------------------------------------
*/


$m-audio-orange: #CF4B00;

$m-audio-slate: #89A7B4;

$gallery: #EEEEEE;


