<!--
|--------------------------------------------------------------------------
|                                 LIFESTYLE HERO
|--------------------------------------------------------------------------
-->

  <section id="lifestyle-hero">
    <div class="row full-width-row">
      <div class="small-12 medium-12 large-12 columns">

        <div class="lifestyle-hero-image-container">

          <div class="lifestyle-hero-slides-wrapper">
            <img src="images/stock/2.jpg">
             <div class="lifestyle-hero-text-container">
              <div class="hero-copy-wrapper">
                <p>Donec ullamcorper nulla non metus auctor fringilla.</p><br />
                <p>Curabitur blandit tempus porttitor.</p>
              </div> <!-- /.hero-copy-wrapper -->
             </div> <!-- /.lifestyle-hero-text-container -->
          </div> <!-- /.lifestyle-hero-slides-wrapper -->

          <div class="lifestyle-hero-slides-wrapper">
            <img src="images/stock/1.jpg">
            <div class="lifestyle-hero-text-container">
              <div class="hero-copy-wrapper">
                <p>Curabitur blandit tempus porttitor.</p><br />
                <p>Sed posuere consectetur est at lobortis.</p>
              </div> <!-- /.hero-copy-wrapper -->
             </div> <!-- /.lifestyle-hero-text-container -->
          </div> <!-- /.lifestyle-hero-slides-wrapper -->

          <div class="lifestyle-hero-slides-wrapper">
            <img src="images/stock/5.jpg">
            <div class="lifestyle-hero-text-container">
              <div class="hero-copy-wrapper">
                <p>Sed posuere consectetur est at lobortis.</p><br />
                <p>Donec ullamcorper nulla non metus auctor fringilla.</p>
              </div> <!-- /.hero-copy-wrapper -->
             </div> <!-- /.lifestyle-hero-text-container -->
          </div> <!-- /.lifestyle-hero-slides-wrapper -->

        </div> <!-- /.lifestyle-hero-image-container -->



      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </section>
