/************************************
        FOOTER       FOOTER
*************************************/
  footer {
    height: 300px;
    background: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid $m-audio-orange;

    .ion {
      padding-top: 20px;
      font-size: 2em;
      padding-right: 10px;
      color: $m-audio-orange;

      &:hover {
        color: #444;
      }
    }
  } /* footer */

.footer-logo-wrapper {
  text-align: center;
  // border: 5px solid green;

  svg {
    fill: #444;
    width: 200px;
  }
}

.footer-socials-wrapper {
  text-align: center;
  padding: 20px 0;
  // border: 5px solid red;

  ul {
    margin: 0;
  }

  li, a {
    display: inline-block;
    color: $m-audio-orange;
    padding-right: 5px;
  }
}

.footer-copy-wrapper {
  text-align: center;

  span {
    font-size: .8rem;
  }
}
