/************************************
        FOOTER       FOOTER
*************************************/
  footer {
    height: 300px;
    background: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid $m-audio-orange;
  } /* footer */

.footer-logo-wrapper {
  text-align: center;
  // border: 5px solid green;

  svg {
    fill: #444;
    width: 200px;
  }
}

.footer-socials-wrapper {
  text-align: center;
  padding: 20px 0 10px 0;
  // border: 5px solid red;

  ul {
    margin: 0;
  }

  li, a {
    display: inline-block;
    color: black;
    padding-right: 5px;
    font-size: 2rem;
  }
}

.footer-subscribe-wrapper {
  text-align: center;
  padding-bottom: 20px;
  //border: 5px solid red;

  a {
    color: #444;
  }

  .ion-email {
    font-size: 1.5rem;
    font-weight: 100;
  }
}

.footer-copy-wrapper {
  text-align: center;

  span {
    font-size: .8rem;
  }
}
