/********************************************************
    NAVIGATION    OVERLAY    NAVIGATION    OVERLAY
*********************************************************/

  section#nav-overlay {
    z-index: 99;
    height:100%;
    width: 100%;
    overflow: hidden;
    background: rgba(0,0,0,0.8);
    // background: white;
    position: fixed;
    top: 0;
    display: none;
    // border: 5px solid purple;

    .m-audio-logo-overlay {
      width: 100%;
      margin-left: 15px;
      text-align: center;
      // border: 5px solid red;

      svg {
        width: 20%;
        fill: $gainsboro;
      }
    }

    .nav-overlay-x-close {
      position: absolute;
      top: 0;
      text-align: right;
      padding: 20px 160px 0 0;
      // margin-top: 10px;
      height: 70px;
      width: 100%;
      // border: 2px solid green;

      span {
        color: goldenrod;
        font-size: 2rem;
      }
    }

    .nav-overlay-container {
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      // border: 5px solid red;

      .nav-overlay-content-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        // border: 2px solid yellow;

          .nav-overlay-logo-div {
            // border: 5px solid green;
            width: 100%;

            h2 {
              color: #fff;
              margin: 0;
              // font-family: $font-pn-light;
              // font-size: 4rem;

              &:hover {
                // border-bottom: none;
              }
            }
          } /* nav-logo-div */

            ul {
            padding: 0;
            text-align: center;
            list-style: none;

              li {
                // font-family: $font-pn-light;
                text-transform: uppercase;
                padding: 2% 0;
                font-size: 1.2rem;
                letter-spacing: 2px;
                color: $silver;

                a {
                  color: #fff;

                  &:hover {
                    text-decoration: none;
                    border-bottom: 1px solid $m-audio-orange;
                  }
                } /* a */
              } /* li */
           } /* ul */

        } /* nav-content-wrapper */
      } /* nav-overlay-container */
  } /* section#nav-overlay */
