<!--===============================================================
                          PRODCUT PAGE NAV
===================================================================-->

<nav id="product-page-nav">
  <div class="product-page-nav-container">
    <h4>CODE-61</h4>
    <ul>
      <li><a href="" id="product-overview"     class="sticky-nav-link">OVERVIEW</a></li>
      <li><a href="" id="product-features"     class="sticky-nav-link">FEATURES</a></li>
      <li><a href="" id="product-requirements" class="sticky-nav-link">REQUIREMENTS</a></li>
      <li><a href="" id="product-media"        class="sticky-nav-link">MEDIA</a></li>
    </ul>
  </div> <!-- product-page-nav-container -->
</nav>
