<!--===============================================================
                          PRODCUT PAGE NAV
===================================================================-->

<nav id="product-page-nav">
  <div class="product-page-nav-container">
    <ul>
      <li class="product-overview">
        <a href="" id="product-overview"  class="sticky-nav-link">
          <span class="product-page-nav-left-bracket overview-left-bracket">[</span>OVERVIEW<span class="product-page-nav-right-bracket overview-right-bracket">]</span></a>
      </li>
      <li class="product-features">
        <a href="" id="product-features"  class="sticky-nav-link">
          <span class="product-page-nav-left-bracket features-left-bracket">[</span>FEATURES &amp; SPECS<span class="product-page-nav-right-bracket features-right-bracket">]</span></a>
      </li>
      <!-- <li><a href="" id="product-requirements"      class="sticky-nav-link">REQUIREMENTS</a></li> -->
      <li class="product-media">
        <a href="" id="product-media" class="sticky-nav-link">
          <span class="product-page-nav-left-bracket media-left-bracket">[</span>MEDIA<span class="product-page-nav-right-bracket media-right-bracket">]</span></a>
      </li>
      <!-- <li><a href="" id="product-downloads"         class="sticky-nav-link">DOWNLOADS</a></li> -->
    </ul>
  </div> <!-- product-page-nav-container -->
</nav>
