<!--
|--------------------------------------------------------------------------
|                                 DOWNLOADS
|--------------------------------------------------------------------------
-->

  <section id="product-page-downloads" class="product-content-jquery">
    <div class="row">
      <div class="small-12 medium-12 large-12 columns">

        <!-- <div class="product-page-downloads-section-header">
          <h4 class="text-center">Downloads</h4>
          <div class="product-page-downloads-divider-line gradient"></div>
        </div> -->

        <div class="row product-page-downloads-row">
          <div class="small-12 medium-6 medium-offset-3 columns">
            <!-- DOCUMENTS -->
            <h4>Downloads</h4>
              <ul class="accordion" data-accordion data-allow-all-closed="true">
                <li class="accordion-item" data-accordion-item>
                  <a href="#" class="accordion-title">Documents</a>
                  <div class="accordion-content" data-tab-content>
                    <ul>
                      <li>Document #1</li>
                      <li>Document #2</li>
                      <li>Document #3</li>
                    </ul>
                  </div>
                </li>
                <!-- ... -->
              </ul>

            <!-- DRIVER UPDATES -->
              <ul class="accordion" data-accordion data-allow-all-closed="true">
                <li class="accordion-item" data-accordion-item>
                  <a href="#" class="accordion-title">Drivers</a>
                  <div class="accordion-content" data-tab-content>
                    <ul>
                      <li>Driver #1</li>
                      <li>Driver #2</li>
                      <li>Driver #3</li>
                    </ul>
                  </div>
                </li>
                <!-- ... -->
              </ul>

            <!-- FIRMWARE UPDATES -->
              <ul class="accordion" data-accordion data-allow-all-closed="true">
                <li class="accordion-item" data-accordion-item>
                  <a href="#" class="accordion-title">Firmware</a>
                  <div class="accordion-content" data-tab-content>
                    <ul>
                      <li>Firmware #1</li>
                      <li>Firmware #2</li>
                      <li>Firmware #3</li>
                    </ul>
                  </div>
                </li>
                <!-- ... -->
              </ul>

            <!-- SOFTWARE UPDATES -->
              <ul class="accordion" data-accordion data-allow-all-closed="true">
                <li class="accordion-item" data-accordion-item>
                  <a href="#" class="accordion-title">Software</a>
                  <div class="accordion-content" data-tab-content>
                    <ul>
                      <li>Software #1</li>
                      <li>Software #2</li>
                      <li>Software #3</li>
                    </ul>
                  </div>
                </li>
                <!-- ... -->
              </ul>
          </div> <!-- /.col -->
        </div> <!-- /.row -->


      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </section>
