<!--===============================================================
                          PRODCUT PAGE FEATURES
===================================================================-->

  <section id="product-page-features" class="product-content-jquery">

    <!-- <div class="product-page-features-section-header">
      <h4 class="text-center">Features</h4>
      <div class="product-page-features-divider-line gradient"></div>
    </div>  -->

    <div class="product-page-features-container">
      <div class="row">
        <div class="small-12 medium-8 medium-offset-2 columns">
          <!-- <h4>Features</h4> -->
          <h4>Features</h4>
          <ul>
            <li>61 full-size, velocity-sensitive keys with aftertouch and four assignable zones for splits and layering.</li>
            <li>Fully assignable XY pad for HID control and a unique way for controlling multiple parameters in virtual instruments</li>
            <li>16 fully assignable velocity-sensitive trigger pads for beat production, clip launching, and more</li>
            <li>8 assignable 360 encoders for manipulating your DAW, virtual instruments and plugins</li>
            <li>9 assignable faders lets you control your DAW, virtual instruments and plugins</li>
            <li>9 assignable buttons lets you assign keyboard hotkey and MIDI messages for controlling your DAW and Virtual Instruments</li>
            <li>Mackie/HUI transport control enables a simple setup with the most popular DAWs</li>
            <li>LCD provides instant parameter feedback</li>
            <li>Sustain and Volume pedal input for further creative control</li>
            <li>USB-powered with 5 pin MIDI in and out allows for sending MIDI from PC sequencers to your favorite analog synth</li>
            <li>Includes Ableton Live Lite</li>
            <li>Includes Hybrid 3.0 and Loom by AIR Music Technology</li>
          </ul>
        </div> <!-- columns -->
      </div> <!-- row -->
    </div> <!-- product-page-features-container -->

  </section>
