<!--===============================================================
                          PRODCUT PAGE MEDIA
===================================================================-->

  <section id="product-page-media" class="product-content-jquery">

   <!--  <div class="product-page-media-section-header">
      <h4 class="text-center">Media</h4>
      <div class="product-page-media-divider-line gradient"></div>
    </div>  -->

    <div class="product-page-media-container">
      <div class="row">
        <div class="small-12 medium-8 medium-offset-2 columns">
          <h4>Media</h4>

          <div class="product-page-light-gallery-wrapper">
            <div id="lightgallery">
              <a href="images/product-page/1.jpg">
                  <img src="images/product-page/1.jpg" />
              </a>
              <a href="images/product-page/2.jpg">
                  <img src="images/product-page/2.jpg" />
              </a>
              <a href="images/product-page/3.jpg">
                  <img src="images/product-page/3.jpg" />
              </a>
            </div> <!-- lightgallery -->
          </div> <!-- product-page-light-gallery-wrapper -->

        </div> <!-- columns -->
      </div> <!-- row -->
    </div> <!-- product-page-media-container -->

  </section>
