<!--===============================================================
                          PRODCUT PAGE HERO
===================================================================-->

  <section id="product-page-hero">

    <div class="product-page-hero-container">

      <div class="row full-width-row">
        <div class="small-6 medium-6 columns">
          <div class="product-carousel">
            <div><img data-lazy="images/product-page/1.jpg"/></div>
            <div><img data-lazy="images/product-page/2.jpg"/></div>
            <div><img data-lazy="images/product-page/3.jpg"/></div>
          </div> <!-- hero-carousel -->
        </div> <!-- columns -->
        <div class="small-6 medium-6 columns">
          <div class="product-page-hero-text-wrapper">
            <div class="product-page-name-header">
              <h1>CODE-61</h1>
            </div> <!-- product-page-name-header -->
            <div class="product-page-name-sub-header">
              <h5>USB MIDI Controller With X/Y Pad</h5>
            </div> <!-- product-page-name-sub-header -->
            <div class="product-page-name-hero-copy">
              <p>The Code Series offers several thoughtful design touches that enable you to create and perform your best. A keyboard should not be an obstacle standing in the way of creativity. Instead, it should function as a direct extension of your thoughts ensuring that you convey musical ideas with immediacy, precision and clarity.</p>
            </div> <!-- product-page-name-hero-copy -->
            <div class="product-page-buttons-wrapper">
              <div class="product-buy-now-btn">
                <span>Buy Now</span>
              </div> <!-- product-buy-now-btn -->
              <div class="product-find-a-dealer-btn">
                <span>Find a Dealer</span>
              </div> <!-- product-find-a-dealer-btn -->
            </div> <!-- product-page-buttons-wrapper -->
          </div> <!-- product-page-hero-text-wrapper -->
        </div> <!-- columns -->
      </div> <!-- row -->

    </div> <!-- product-page-hero-container -->

  </section>
