<!--===============================================================
                          PRODCUT PAGE OVERVIEW
===================================================================-->

  <section id="product-page-overview" class="product-content-jquery">

    <!-- <div class="product-page-overview-section-header">
      <h4 class="text-center">Overview</h4>
      <div class="product-page-overview-divider-line gradient"></div>
    </div> -->

    <div class="product-page-overview-container">
      <div class="row">
        <div class="small-12 medium-12  large-8 large-offset-2 columns">
          <p>
        	<strong>Revolutionize your music production workflow!</strong></p>
        <p>
        	The M-Audio CTRL49 is a premium 49-key USB/MIDI controller that combines the creative power of VST instruments and FX plugins with dedicated DAW fader and transport controls to create an entirely hands-on production experience. The CTRL49&rsquo;s integrated high-resolution full-color display and robust hardware controls instantly auto-map themselves to your VST plugin controls using the included Virtual Instrument Player (VIP) software. This unprecedented tight integration between hardware and software enables immediate 1:1 access to your all of your plugin controls as well as your DAW channel level, solo, mute, record, select and transport controls&mdash;all without ever reaching for the computer.</p>
        <p>
        	<br />
        	The CTRL49 and VIP software also work together to give you even deeper access to sorting and manipulating your VST virtual instrument and FX plugin library. An integrated patch browser presents every patch for every VST plugin you have, and lets you to quickly filter, select and preview patches based on their specific attributes. You can layer patches together (from up to 8 different VST plugins) to create new patches and timbres. You can also create setlists that provide instant on-demand access to your instruments for stage performance and studio work.</p>
        <p>
        	<br />
        	Most importantly, the CTRL49 intuitively combines an all-new custom premium keybed and hardware control surface with groundbreaking software features to create a truly next-level workflow experience. The CTRL49 lets you focus on what&rsquo;s really important&mdash;creating music. This is the MIDI controller that you&rsquo;ve been waiting for.</p>
        <p>
        	The best semi-weighted synth-action MIDI controller available. Factor in the quality of included software instruments, and the entire package becomes hard to beat. A breakthrough product that will be much appreciated by keyboardist and musicians everywhere. A MIDI controller keyboard that can map seamlessly with 3rd-party plug-ins and makes controlling them more intuitive and easier.&nbsp;<strong>You&#39;re welcome!</strong></p>
        <p>
        	&nbsp;</p>

        </div> <!-- columns -->
      </div> <!-- row -->
    </div> <!-- product-page-overview-container -->

  </section>
