<!--===============================================================
                          PRODCUT PAGE REQUIREMENTS
===================================================================-->

  <section id="product-page-requirements" class="product-content-jquery">

    <!-- <div class="product-page-requirements-section-header">
      <h4 class="text-center">Requirements</h4>
      <div class="product-page-requirements-divider-line gradient"></div>
    </div> -->

    <div class="product-page-requirements-container">
      <div class="row">
        <div class="small-12 medium-12 large-8 large-offset-2 columns">
          <h4>Requirements</h4>
          <ul>
            <li>Minimum: Windows 7 (32 and 64); Windows 10 Compatible</li>
            <li>Minimum: OSx 10.7.5</li>
          </ul>
        </div> <!-- columns -->
      </div> <!-- row -->
    </div> <!-- product-page-requirements-container -->

  </section>
