<!--===============================================================
                          PRODCUT PAGE OVERVIEW
===================================================================-->

  <section id="product-page-overview" class="product-content-jquery">

    <!-- <div class="product-page-overview-section-header">
      <h4 class="text-center">Overview</h4>
      <div class="product-page-overview-divider-line gradient"></div>
    </div> -->

    <div class="product-page-overview-container">
      <div class="row">
        <div class="small-12 medium-12  large-8 large-offset-2 columns">
          <!-- <h4>Overdview</h4> -->
          <h4>Overview</h4>

          <p>M-Audio presents its Code Series keyboard controllers, a family of three full-featured models, combining all of the production power and performance you need to get the most from your music software and MIDI gear.</p>

          <p>The Code Series offers several thoughtful design touches that enable you to create and perform your best. A keyboard should not be an obstacle standing in the way of creativity. Instead, it should function as a direct extension of your thoughts ensuring that you convey musical ideas with immediacy, precision and clarity.</p>

          <strong>Great Playability</strong>
          <p>All Code keyboards&mdash;25, 49 and 61 key models&mdash;have an all-new keybed with action that is clean, and precise. The natural profile keys are both velocity- and pressure-sensitive, for maximum expressivity.</p>

          <strong>Assignable Controllers</strong>
          <p>Code controllers are equipped with everything you need to produce some serious musical creations. Extensive assignable parameter control is a breeze with multiple banks of faders, knobs, buttons, pads, and a smooth feeling pitch bend and modulation wheel on top. New to the line of M-Audio controllers is the X/Y Touchpad, which provides additional and direct interaction with effects and instrument plugin parameters across an X/Y axis.</p>

          <p>In addition, the keyboards can be split into four assignable zones to maximize the flexibility and functionality of your setup. (ie: trigger four different instruments in their own separate zone, or overlap zones and trigger two instruments at the same time).</p>

          <strong>Serious Production Power</strong><br />
          <p>Most every DAW uses keyboard shortcuts to execute common functions (like adding tracks, cut, paste, etc.). Now with support for ASCII/HID keyboard shortcut commands, you can map these commonly used shortcuts right to the controller itself, streamlining your workflow for a faster, more efficient and far more satisfying creation/production process. Code also supports Mackie Control/HUI control modes, so right out of the box you are ready to work with most DAWs with minimal setup.</p>

          <strong>Backlit Drum Pads</strong><br />
          <p>There are 16 assignable RGB backlit velocity sensitive drum pads to indicate at a quick glance exactly what function any particular pad is assigned to. The buttons, knobs and faders are also color-coded to indicate what mode they&rsquo;re in. An alphanumeric LED display provides informative feedback, including on-screen display of parameters and settings. It all adds up to no confusion, no guessing, just precision control.</p>

          <strong>Exclusive Software Included</strong><br />
          <p>A comprehensive software package is included&mdash;Ableton Live Lite, full versions of AIR Music Technology&rsquo;s award winning virtual instruments Loom and Hybrid 3.0&mdash;so you have unrestricted access to the best creative tools.</p>

          <p>Ableton Live Lite delivers much of the functionality of Ableton Live&mdash;the revolutionary, multi-award winning music production solution that lets you spontaneously compose, record, remix, improvise and edit your musical ideas in a seamless audio/MIDI environment. Live brings your acoustic, electronic and virtual instruments&mdash;as well as your digital audio recordings and MIDI sequences&mdash;together in a single interface with unparalleled ease of use.</p>

          <p>The Code Series offers the highest professional level of performance control and keybed feel, combined with an unusually comprehensive set of features and included software.</p>


        </div> <!-- columns -->
      </div> <!-- row -->
    </div> <!-- product-page-overview-container -->

  </section>
