<!--===============================================================
                          PRODCUT PAGE HERO
===================================================================-->

  <section id="product-page-hero">

    <div class="product-page-hero-container">

      <div class="row full-width-row">
        <div class="small-12 large-6 columns">
          <div class="product-carousel">
            <div><img data-lazy="images/product-page/1.jpg"/></div>
            <div><img data-lazy="images/product-page/2.jpg"/></div>
            <div><img data-lazy="images/product-page/3.jpg"/></div>
          </div> <!-- hero-carousel -->
        </div> <!-- columns -->
        <div class="small-12 large-6 columns">
          <div class="product-page-hero-text-wrapper">
            <div class="product-page-name-header">
              <h1>CODE 61</h1>
            </div> <!-- product-page-name-header -->
            <div class="product-page-name-sub-header">
              <h6>49-KEY USB/MIDI SMART CONTROLLER WITH FULL-COLOR SCREEN</h6>
            </div> <!-- product-page-name-sub-header -->

            <div class="product-page-buttons-container">
              <button class="find-a-dealer-btn">
                <span class="find-dealer-left-bracket">[</span>
                FIND A DEALER
                <span class="find-dealer-right-bracket">]</span>
              </button>
              <button class="buy-online-btn">
                <span class="buy-online-left-bracket">[</span>
                BUY $399.00
                <span class="buy-online-right-bracket">]</span>
              </button>
            </div> <!--/.product-page-buttons-container-->

          </div> <!-- product-page-hero-text-wrapper -->
        </div> <!-- columns -->
      </div> <!-- row -->

    </div> <!-- product-page-hero-container -->

  </section>
