<!--===============================================================
                          PRODCUT PAGE HERO
===================================================================-->

  <section id="product-page-hero">

    <div class="product-page-hero-container">

      <div class="row full-width-row">
        <div class="small-12 large-6 columns">
          <div class="product-carousel">
            <div><img data-lazy="images/ctrl/1.jpg"/></div>
            <div><img data-lazy="images/ctrl/2.jpg"/></div>
            <div><img data-lazy="images/ctrl/3.jpg"/></div>
          </div> <!-- hero-carousel -->
        </div> <!-- columns -->
        <div class="small-12 large-6 columns">
          <div class="product-page-hero-text-wrapper">
            <div class="product-page-name-header">
              <h1>CTRL49</h1>
            </div> <!-- product-page-name-header -->
            <div class="product-page-name-sub-header">
              <h6>49-KEY USB/MIDI SMART CONTROLLER WITH FULL-COLOR SCREEN</h6>
            </div> <!-- product-page-name-sub-header -->

            <button class="find-a-dealer-btn">
              <span class="find-dealer-left-bracket">[</span>
              Find a Dealer
              <span class="find-dealer-right-bracket">]</span>
            </button>
            <button class="buy-online-btn">
              <span class="buy-online-left-bracket">[</span>
              Buy Online
              <span class="buy-online-right-bracket">]</span>
            </button>
          </div> <!-- product-page-hero-text-wrapper -->
        </div> <!-- columns -->
      </div> <!-- row -->

    </div> <!-- product-page-hero-container -->

  </section>
