/*
|--------------------------------------------------------------------------
|                                 Hero
|--------------------------------------------------------------------------
*/

  section#noblesse-oblige-hero {
    padding-top: 80px;
    padding-bottom: 30px;

    .columns {
      padding: 0;
    }

    .sebastian-hero-img {
      padding-right: 2px;
    }

    .valerie-hero-img {
      padding-left: 2px;
    }
  }

  .noblesse-oblige-photo-credit {
    color: #ccc;
    font-size: .8rem;
    padding-left: 10px;
  }






/*
|--------------------------------------------------------------------------
|                                 Header / Intro Text
|--------------------------------------------------------------------------
*/

  section#noblesse-oblige-header {
    padding-bottom: 30px;

    a {
      color: black;
    }

    p {
      font-size: 1.2rem;
    }
  }

  #share {
    padding-bottom: 30px;
  }

  .noblesse-oblige-header-text {
    // text-align: center;
    font-weight: 700;
    text-decoration: underline;
  }





/*
|--------------------------------------------------------------------------
|                     2 column photo left text right
|--------------------------------------------------------------------------
*/

  section#noblesse-oblige-photo-text-columns {
    padding-top: 20px;
  }

  .noblesse-oblige-left-photo-container {

    img {
      width: 80%;
    }
  }

  .noblesse-oblige-bold-text-callout-container {
    margin-left: -100px;
    padding-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 5px solid red;
  }

  .noblesse-oblige-bold-text-callout {
    font-weight: 700;
    margin: 0;
    line-height: 1;
  }





/*
|--------------------------------------------------------------------------
|                            Video & Links
|--------------------------------------------------------------------------
*/

  section#noblesse-oblige-video-links {
    padding-top: 40px;

    a {
      color: black;
    }

    p {
      padding: 20px 0;
    }
  }

  .noblesse-oblige-black-copy {
    background: black;
    padding-left: 20px;

    p {
      color: #fff;
      font-weight: 700;
      font-size: 1.5rem;
    }
  }

  .noblesse-oblige-ul {
    margin: 0;
    padding: 20px 0;

    li {
      display: inline-block;
      padding-right: 10px;

      span {
        font-weight: 700;
      }
    }

    a {
      text-decoration: underline;
    }
  }
