<!--
|--------------------------------------------------------------------------
|                                 Features
|--------------------------------------------------------------------------
-->

  <section id="m-track-2x2M-features">
    <div class="row full-width-row">

      <!-- Left Column Features Copy
      =============================================-->
      <div class="small-12 medium-12 large-4 columns">
        <div class="m-track-2x2M-features-copy-container">
          <div class="m-track-2x2M-features-header-accent-color"></div>
          <h4 class="m-track-2x2M-features-header">FEATURES</h4>

          <h5 class="feature-callout-blue-text">
            24-bit/192kHz Resolution<br /> for Professional Recording and Monitoring
          </h5>
          <p>
            Professional studio-quality recording in a portable desktop form factor
          </p>

          <br />
          <br />

          <h5 class="feature-callout-blue-text">
            Featuring All-New Crystal™ Preamps and Pristine D/A converters
          </h5>
          <p>
            Capture every nuance and subtlety of your performance
          </p>
          <br />
          <br />

          <h5 class="feature-callout-blue-text">
            Elegant Pro-Grade Metal Chassis
          </h5>
          <p>
            Large central control for easy volume adjustment
          </p>
          <br />
          <br />

          <h5 class="feature-callout-blue-text">
            Future-Proofed High-Speed, Zero Latency Recording
          </h5>
          <p>
            Includes standard USB and USB-C connection cables
          </p>
          <br />
          <br />




          <h5 class="feature-callout-blue-text">

          </h5>
          <p>

          </p>
          <br />
          <br />

          2 Dedicated XLR+1/4” Combo Inputs for Mic/Line Sources
          +48V phantom power switch to accommodate all microphone types

          <h5 class="feature-callout-blue-text">

          </h5>
          <p>

          </p>
          <br />
          <br />

          2 Dedicated 1/4” Instrument Inputs for Guitar or Bass
          Tailor-made gain and impedance stage for a pristine, accurate DI signal

          <h5 class="feature-callout-blue-text">

          </h5>
          <p>

          </p>
          <br />
          <br />

          Stereo 1/4” Main Outputs; 1/4” Headphone Output
          With independent level controls

          <h5 class="feature-callout-blue-text">

          </h5>
          <p>

          </p>
          <br />
          <br />

          5-PIN MIDI DIN Input and Outputs
          Connect your synths, sequencers, or other external MIDI gear


        </div> <!--/.m-track-2x2M-features-copy-container-->
      </div> <!-- /.col -->



      <!-- Right Column Features Slideshow photos etc
      =============================================-->
      <div class="small-12 medium-12 large-8 columns">
        <div class="features-slick-slider-wrapper">
          <div><img src="images/microsite/m-track2x2M/features/1.jpg" alt="" /></div>
          <div><img src="images/microsite/m-track2x2M/features/2.jpg" alt="" /></div>
          <div><img src="images/microsite/m-track2x2M/features/3.jpg" alt="" /></div>
        </div> <!--/.features-slick-slider-wrapper-->

        <div class="row full-width-row">
          <div class="small-12 medium-12 large-6 columns features-bottom-photos-column">
            <div class="features-bottom-photos-wrapper photo-wrapper-1">
              <img src="images/microsite/m-track2x2M/features/m-track.png" alt="" />
            </div> <!--/.features-bottom-photos-wrapper-->
          </div> <!-- /.col -->

          <div class="small-12 medium-12 large-6 columns features-bottom-photos-column">
            <div class="features-bottom-photos-wrapper photo-wrapper-2">
              <img src="images/microsite/m-track2x2M/features/vocals.png" alt="" />
            </div> <!--/.features-bottom-photos-wrapper-->
          </div> <!-- /.col -->
        </div> <!-- /.row -->


      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </section>
