/*
|--------------------------------------------------------------------------
|                                 Overview
|--------------------------------------------------------------------------
*/

  section#m-track-2x2M-overview {
    margin: 0 17px;
    background: url('../images/microsite/m-track2x2M/m-track-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 80px;
    // border: 5px solid red;

    .columns {
      padding: 0;
    }
  }

  .m-track-2x2M-overview-container {
    position: relative;
    width: 100%;
    height: 100vh;
    // background: url('../images/microsite/m-track2x2M/m-track-bg.png');
    // background-size: 70%;
    // background-repeat: no-repeat;
    // background-position: -50% 0%;
    // border: 5px solid red;
  }

  .m-track-2x2M-overview-logo-container {
    width: 400px;
    margin: 0 auto;
    padding-bottom: 20px;
    // border: 5px solid red;
  }

  .m-track-2x2M-overview-copy-container {
    padding: 50px 100px;
    background: url('../images/microsite/m-track2x2M/overview-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    // border: 5px solid purple;
  }

  .slick-slide-container {

    p {
      color: #fff;
    }
  }

  .m-track-2x2M-dealer-btn-container {
    text-align: center;
    padding-top: 20px;
  }

  .m-track-2x2M-dealer-btn {
    font-family: $font-secondary;
    background: rgba(245, 245, 245, .3);
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;

    a {
      color: #444;
      text-transform: uppercase;
    }
  }

  .m-track-2x2M-overview-header-color-accent-line {
    width: 200px;
    height: 2px;
    margin: 0 auto;
    background: #fff;
  }

  .m-track-2x2M-overview-header {
    text-align: center;
    font-weight: 100;
    margin: 0;
  }







/*
|--------------------------------------------------------------------------
|                      LARGE MEDIA QUERIES
|                min-width 1025px and max-width 1440px
|--------------------------------------------------------------------------
*/

@media only screen and (min-width: 64.063em) and (max-width: 90em) {

  .m-track-2x2M-overview-logo-container {
    width: 400px;
    margin: 0 auto;
    padding-bottom: 40px;
    // border: 5px solid red;
  }

  .m-track-2x2M-overview-copy-container {
    padding: 25px 50px;
  }

  .slick-slide-container {

    p {
      // font-size: calc(8px + 9 * ( (100vw - 420px) / 860));
    }
  }

}/* LARGE MEDIA QUERY */







/*
|--------------------------------------------------------------------------
|                      MEDIUM MEDIA QUERIES
|                min-width 641px and max-width 1024px
|--------------------------------------------------------------------------
*/

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

  .m-track-2x2M-overview-container {
    height: 50vh;
  }

}/* MEDIUM MEDIA QUERY */







/*
|--------------------------------------------------------------------------
|                      SMALL MEDIA QUERIES
|                       max-width 640px
|--------------------------------------------------------------------------
*/

@media only screen and (max-width: 40em) {

  .m-track-2x2M-overview-copy-container {
    padding: 10px;
  }

  .slick-slide-container {

    .m-track-2x2M-overview-header {
      font-size: calc(24px + 9 * ( (100vw - 420px) / 860));
    }

    p {
      font-size: calc(14px + 9 * ( (100vw - 420px) / 860));
    }

    strong {
      font-size: calc(16px + 9 * ( (100vw - 420px) / 860));
    }
  }

}/* SMALL MEDIA QUERY */
