/*
|--------------------------------------------------------------------------
|                                 Quote Strip
|--------------------------------------------------------------------------
*/

section#m-track-2x2M-included-quote-strip {

}

.m-track-2x2M-included-quote-strip-container {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 5px solid red;

  span {
    font-size: 4rem;
    letter-spacing: 5px;
    font-weight: 100;
    color: #8A8A8A;
  }
}
