<!--===============================================================
                          CATEGORY HERO
===================================================================-->

  <section id="categories-hero">

    <!-- <div class="category-hero-bg-img"> -->
      <!--
          John,
          See the Scripts Below to see how this works.
          I am using ES6 Syntax, so let me know if you have any questions

          (╯°□°)╯︵ ┻━┻
      -->
    <!-- </div> <!-- category-hero-bg-img -->

    <div class="category-cards-container">

    <!--==== ROW #1 ====-->

    <div class="row full-width-row small-up-1 medium-up-2 large-up-4" data-equalizer>

      <div class="column">
        <div class="category-card cat-card-1">
          <div class="category-card-img-container">
            <img src="images/category/products/1.jpg">
          </div> <!-- category-card-img-container -->
          <div class="cat-card-text cat-card-text-1 hvr-underline-reveal" data-equalizer-watch>
          <h5>Code 25</h5>
            <p>USB MIDI Controller With X/Y Pad</p>
          </div> <!-- cat-card-1-text -->
        </div> <!-- category-card cat-card-1 -->
      </div> <!-- column -->


      <div class="column">
        <div class="category-card cat-card-2">
          <div class="category-card-img-container">
            <img src="images/category/products/2.jpg">
          </div> <!-- category-card-img-container -->
          <div class="cat-card-text cat-card-text-2 hvr-underline-reveal" data-equalizer-watch>
          <h5>Code 49</h5>
            <p>USB MIDI Controller With X/Y Pad</p>
          </div> <!-- cat-card-2-text -->
        </div> <!-- category-card cat-card-2 -->
      </div> <!-- column -->


      <div class="column">
        <div class="category-card cat-card-3">
          <div class="category-card-img-container">
            <img src="images/category/products/3.jpg">
          </div> <!-- category-card-img-container -->
          <div class="cat-card-text cat-card-text-3 hvr-underline-reveal" data-equalizer-watch>
          <h5>Code 61</h5>
            <p>USB MIDI Controller With X/Y Pad</p>
          </div> <!-- cat-card-3-text -->
        </div> <!-- category-card cat-card-3 -->
      </div> <!-- column -->


      <div class="column">
        <div class="category-card cat-card-4">
          <div class="category-card-img-container">
            <img src="images/category/products/4.jpg">
          </div> <!-- category-card-img-container -->
          <div class="cat-card-text cat-card-text-4 hvr-underline-reveal" data-equalizer-watch>
          <h5>Accent</h5>
            <p>88-Key Digital Piano with Hammer Action</p>
          </div> <!-- cat-card-4-text -->
        </div> <!-- category-card cat-card-4 -->
      </div> <!-- column -->
    </div> <!--/.row small-up-1 medium-up-2 large-up-4-->





      <!--==== ROW #2 ====-->

      <div class="row full-width-row small-up-1 medium-up-2 large-up-4" data-equalizer>

        <div class="column">
          <div class="category-card cat-card-5">
            <div class="category-card-img-container">
              <img src="images/category/products/5.jpg">
            </div> <!-- category-card-img-container -->
            <div class="cat-card-text cat-card-text-5 hvr-underline-reveal" data-equalizer-watch>
            <h5>Accent Module</h5>
              <p>Stage Piano Module with USB MIDI Hosting</p>
            </div> <!-- cat-card-5-text -->
          </div> <!-- category-card cat-card-5 -->
        </div> <!-- column -->


        <div class="column">
          <div class="category-card cat-card-6">
            <div class="category-card-img-container">
              <img src="images/category/products/6.jpg">
            </div> <!-- category-card-img-container -->
            <div class="cat-card-text cat-card-text-6 hvr-underline-reveal" data-equalizer-watch>
            <h5>Oxygen 25 MK IV</h5>
              <p>USB MIDI Keyboard Controller</p>
            </div> <!-- cat-card-6-text -->
          </div> <!-- category-card cat-card-6 -->
        </div> <!-- column -->


        <div class="column">
          <div class="category-card cat-card-7">
            <div class="category-card-img-container">
              <img src="images/category/products/7.jpg">
            </div> <!-- category-card-img-container -->
            <div class="cat-card-text cat-card-text-7 hvr-underline-reveal" data-equalizer-watch>
            <h5>Oxygen 49 MK IV</h5>
              <p>USB MIDI Keyboard Controller</p>
            </div> <!-- cat-card-7-text -->
          </div> <!-- category-card cat-card-7 -->
        </div> <!-- column -->


        <div class="column">
          <div class="category-card cat-card-8">
            <div class="category-card-img-container">
              <img src="images/category/products/8.jpg">
            </div> <!-- category-card-img-container -->
            <div class="cat-card-text cat-card-text-8 hvr-underline-reveal" data-equalizer-watch>
            <h5>Oxygen 61 MK IV</h5>
              <p>USB MIDI Keyboard Controller</p>
            </div> <!-- cat-card-8-text -->
          </div> <!-- category-card cat-card-8 -->
        </div> <!-- column -->
      </div> <!--/.row small-up-1 medium-up-2 large-up-4-->


  </section>



  <script type="text/javascript">
    const randomNum = Math.floor(Math.random() * 6) + 1
    let categoryBackground = document.querySelector('.category-cards-container');
    let cssString =
    `
    background: url('images/category/backgrounds/${randomNum}.jpg');
    background-size: contain;
    background-attachment: fixed;
    `
    let categoryBgImg = categoryBackground.style.cssText = cssString;
  </script>
