<!--
|--------------------------------------------------------------------------
|                      M-Track2x2 + Vocal Pro - Excerpt
|--------------------------------------------------------------------------
-->

<section class="mt-vp-excerpt">
  <div class="expanded row">
    <div class="small-12 medium-12 large-12 columns">
      <div class="mt-vp-excerpt-container">
        <h1 class="mt-vp-excerpt-header">Studio Grade Production – Simplified!</h1>

        <div class="row">
          <div class="small-12 medium-12 large-8 large-offset-2 columns">
            <p style="padding-bottom: 60px;">
              Enter the world of studio-based recording with the M-Track 2X2 Vocal Studio Pro—the ultimate all-in-one solution for computer recording projects. Combining the critically acclaimed M-Track 2X2 interface, HDH40 headphones, a Nova Black condenser microphone, XLR cable and the premium C-Series Software Suite, laying down vocal tracks, recording electric and acoustic instruments and adding voice-overs to multimedia projects has never been easier. With the M-Track 2X2 Vocal Studio Pro, the combination of high-performance hardware and easy-to-use software results in pro-grade audio capture for every recording scenario.
            </p>
          </div> <!-- /.col -->
        </div> <!-- /.row -->

      </div> <!-- /.bx8-features-background-container -->
    </div> <!-- /.col -->
  </div> <!-- /.row -->
</section>
