<!--
|--------------------------------------------------------------------------
|                      M-Track2x2 + Vocal Studio Pro Tabs
|--------------------------------------------------------------------------
-->

<nav class="bx5-tabs">
  <div class="bx5-tabs-container">
    <ul>
      <li class="product-overview">
        <a href="" id="bx5-overview"  class="sticky-nav-link">
          <span class="bx5-tabs-left-bracket overview-left-bracket">[</span>OVERVIEW<span class="bx5-tabs-right-bracket overview-right-bracket">]</span></a>
      </li>

      <li class="product-specs">
        <a href="" id="bx5-specs"  class="sticky-nav-link">
          <span class="bx5-tabs-left-bracket features-left-bracket">[</span>FEATURES<span class="bx5-tabs-right-bracket features-right-bracket">]</span></a>
      </li>

      <li class="product-features">
        <a href="" id="bx5-specs"  class="sticky-nav-link">
          <span class="bx5-tabs-left-bracket features-left-bracket">[</span>SPECS<span class="bx5-tabs-right-bracket features-right-bracket">]</span></a>
      </li>
      <!-- <li><a href="" id="product-requirements"      class="sticky-nav-link">REQUIREMENTS</a></li> -->
      <li class="product-media">
        <a href="" id="bx5-videos-photos" class="sticky-nav-link">
          <span class="bx5-tabs-left-bracket media-left-bracket">[</span>VIDEOS &amp; PHOTOS<span class="bx5-tabs-right-bracket media-right-bracket">]</span></a>
      </li>
      <!-- <li><a href="" id="product-downloads"         class="sticky-nav-link">DOWNLOADS</a></li> -->
    </ul>
  </div> <!-- bx5-tabs-container -->
</nav>
