/***********************************************
  CATEGORIES    HERO      CATEGORIES      HERO
************************************************/

  section#categories-hero {
    padding-top: 80px;
    // height: 100vh;
    // background: url('../images/category/backgrounds/1.jpg');
    // background-size: cover;
    // background-position: fixed;

    .category-hero-bg-img {
      position: relative;
    }

    h5, p {
      padding-left: 10px;
    }

    .columns {
      padding: 0;
    }

    .category-cards-container {
      // background: url('../images/category/backgrounds/1.jpg');
      // background-size: cover;
      // background-attachment: fixed;
      // padding-top: 120px;
      // position: absolute;
      // top: 0;
      // border: 2px solid gold;
    }

    .category-card {
      overflow: hidden;
      margin: 10px;
      border: 1px solid #444;

      img {
        z-index: 1;
        // border-radius: 5px 5px 0 0;
      }
    }

    .category-card-img-container {
      overflow: hidden;
    }

    .cat-card-text {
      z-index: 99;
      border-radius: 1px;
      border-bottom: 1px solid $m-audio-orange;
      background: rgba(255,255,255, 0.8);
    }

    .category-row-2 {
      margin-top: 10px;
    }

    .category-card img {
      overflow: hidden;
      -webkit-transition: all 1000ms cubic-bezier(0.335, 0.015, 0.46, 0.995);
      -moz-transition:    all 1000ms cubic-bezier(0.335, 0.015, 0.46, 0.995);
      -o-transition:      all 1000ms cubic-bezier(0.335, 0.015, 0.46, 0.995);
      -ms-transition:     all 1000ms cubic-bezier(0.335, 0.015, 0.46, 0.995);
      transition:         all 1000ms cubic-bezier(0.335, 0.015, 0.46, 0.995);
    }

    .category-card img:hover {
      cursor: pointer;
      overflow: hidden;
      -webkit-transform:  scale3d(1.25, 1.25, 1.25);
      -moz-transform:     scale3d(1.25, 1.25, 1.25);
      -o-transform:       scale3d(1.25, 1.25, 1.25);
      -ms-transform:      scale3d(1.25, 1.25, 1.25);
      transform:          scale3d(1.25, 1.25, 1.25);
    }


  } /* section#categories-hero */
