<!--
|--------------------------------------------------------------------------
|                                 Artists Kristin
|--------------------------------------------------------------------------
-->

  <section id="artists-kristin">

    <header class="m-audio-artists">
      <div class="m-audio-artists-gradient artists-gradient"></div>
      <h6>M-AUDIO ARTISTS</h6>
    </header>

<!--
|--------------------------------------------------------------------------
|                                 Row #1
|--------------------------------------------------------------------------
-->

    <div class="row full-width-row">

      <!-- Artist #1 -->
      <div class="small-12 medium-12 large-4 columns">
        <div class="m-audio-artists-artist-container artist-1-container">
          <img src="images/artists/conner-youngblood.jpg">
          <div class="m-audio-artists-overlay-container artist-1-overlay-container">
            <div class="m-audio-artists-overlay-copy-wrapper artist-1-copy-wrapper">
              <h5>Conner Youngblood</h5>
              <div class="m-audio-artists-copy-gradient artists-gradient"></div>
              <p>
                Keyboard Tech/Programmer (The Cure, Bjork, Tears for Fears, Annie Lennox)
              </p>
            </div> <!--/.m-audio-artists-overlay-copy-wrapper-->
          </div> <!--/.m-audio-artists-overlay-container-->
        </div> <!--/.m-audio-artists-artist-container-->
      </div> <!-- /.col -->



      <!-- Artist #2 -->
      <div class="small-12 medium-12 large-4 columns">
        <div class="m-audio-artists-artist-container artist-2-container">
          <img src="images/artists/james-cook.jpg">
          <div class="m-audio-artists-overlay-container artist-2-overlay-container">
            <div class="m-audio-artists-overlay-copy-wrapper artist-2-copy-wrapper">
              <h5>James Cook</h5>
              <div class="m-audio-artists-copy-gradient artists-gradient"></div>
              <p>
                Keyboard Tech/Programmer (The Cure, Bjork, Tears for Fears, Annie Lennox)
              </p>
            </div> <!--/.m-audio-artists-overlay-copy-wrapper-->
          </div> <!--/.m-audio-artists-overlay-container-->
        </div> <!--/.m-audio-artists-artist-container-->
      </div> <!-- /.col -->

      <!-- Artist #3 -->
      <div class="small-12 medium-12 large-4 columns">
        <div class="m-audio-artists-artist-container artist-3-container">
          <img src="images/artists/tropics.jpg">
          <div class="m-audio-artists-overlay-container artist-3-overlay-container">
            <div class="m-audio-artists-overlay-copy-wrapper artist-3-copy-wrapper">
              <h5>Tropics</h5>
              <div class="m-audio-artists-copy-gradient artists-gradient"></div>
              <p>
                Keyboard Tech/Programmer (The Cure, Bjork, Tears for Fears, Annie Lennox)
              </p>
            </div> <!--/.m-audio-artists-overlay-copy-wrapper-->
          </div> <!--/.m-audio-artists-overlay-container-->
        </div> <!--/.m-audio-artists-artist-container-->
      </div> <!-- /.col -->
    </div> <!-- /.row -->






    <!--
    |--------------------------------------------------------------------------
    |                                 Row #2
    |--------------------------------------------------------------------------
    -->

        <div class="row full-width-row">

          <!-- Artist #1 -->
          <div class="small-12 medium-12 large-4 columns">
            <div class="m-audio-artists-artist-container artist-4-container">
              <img src="images/artists/james-cook.jpg">
              <div class="m-audio-artists-overlay-container artist-4-overlay-container">
                <div class="m-audio-artists-overlay-copy-wrapper artist-4-copy-wrapper">
                  <h5>James Cook</h5>
                  <div class="m-audio-artists-copy-gradient artists-gradient"></div>
                  <p>
                    Keyboard Tech/Programmer (The Cure, Bjork, Tears for Fears, Annie Lennox)
                  </p>
                </div> <!--/.m-audio-artists-overlay-copy-wrapper-->
              </div> <!--/.m-audio-artists-overlay-container-->
            </div> <!--/.m-audio-artists-artist-container-->
          </div> <!-- /.col -->



          <!-- Artist #2 -->
          <div class="small-12 medium-12 large-4 columns">
            <div class="m-audio-artists-artist-container artist-5-container">
              <img src="images/artists/tropics.jpg">
              <div class="m-audio-artists-overlay-container artist-5-overlay-container">
                <div class="m-audio-artists-overlay-copy-wrapper artist-5-copy-wrapper">
                  <h5>Tropics</h5>
                  <div class="m-audio-artists-copy-gradient artists-gradient"></div>
                  <p>
                    Keyboard Tech/Programmer (The Cure, Bjork, Tears for Fears, Annie Lennox)
                  </p>
                </div> <!--/.m-audio-artists-overlay-copy-wrapper-->
              </div> <!--/.m-audio-artists-overlay-container-->
            </div> <!--/.m-audio-artists-artist-container-->
          </div> <!-- /.col -->

          <!-- Artist #3 -->
          <div class="small-12 medium-12 large-4 columns">
            <div class="m-audio-artists-artist-container artist-6-container">
              <img src="images/artists/conner-youngblood.jpg">
              <div class="m-audio-artists-overlay-container artist-6-overlay-container">
                <div class="m-audio-artists-overlay-copy-wrapper artist-6-copy-wrapper">
                  <h5>Conner Youngblood</h5>
                  <div class="m-audio-artists-copy-gradient artists-gradient"></div>
                  <p>
                    Keyboard Tech/Programmer (The Cure, Bjork, Tears for Fears, Annie Lennox)
                  </p>
                </div> <!--/.m-audio-artists-overlay-copy-wrapper-->
              </div> <!--/.m-audio-artists-overlay-container-->
            </div> <!--/.m-audio-artists-artist-container-->
          </div> <!-- /.col -->
        </div> <!-- /.row -->



  </section>
