<!--
|--------------------------------------------------------------------------
|                                 Artists Kristin
|--------------------------------------------------------------------------
-->

  <section id="artists-kristin">

    <header class="m-audio-artists">
      <div class="m-audio-artists-gradient artists-gradient"></div>
      <h6>M-AUDIO ARTISTS</h6>
    </header>

<!--
|--------------------------------------------------------------------------
|                                 Row #1
|--------------------------------------------------------------------------
-->

    <div class="row full-width-row">

      
      <!-- Artist #2 -->
      <div class="small-12 medium-12 large-6 columns">
        <div class="m-audio-artists-artist-container artist-2-container">
          <img src="images/artists/noblesse-oblige/noblesse-958.jpg">
          <div class="m-audio-artists-overlay-container artist-2-overlay-container">
            <div class="m-audio-artists-overlay-copy-wrapper artist-2-copy-wrapper">
              <h5>[ Noblesse Oblige ]</h5>
              <div class="m-audio-artists-copy-gradient artists-gradient"></div>
              <p>
                Noblesse Oblige are French songwriter Valerie Renay and German producer Sebastian Lee Philipp
              </p>
            </div> <!--/.m-audio-artists-overlay-copy-wrapper-->
          </div> <!--/.m-audio-artists-overlay-container-->
        </div> <!--/.m-audio-artists-artist-container-->
      </div> <!-- /.col -->



      <!-- Artist #1 -->
      <div class="small-12 medium-12 large-6 columns">
        <div class="m-audio-artists-artist-container artist-1-container">
          <img src="images/artists/adara/adara-958.jpg">
          <div class="m-audio-artists-overlay-container artist-1-overlay-container">
            <div class="m-audio-artists-overlay-copy-wrapper artist-1-copy-wrapper">
              <h5>[ Adara ] </h5>
              <div class="m-audio-artists-copy-gradient artists-gradient"></div>
              <p>
                Singer, songwriter, instrumentalist, dancer and fashionista
              </p>
            </div> <!--/.m-audio-artists-overlay-copy-wrapper-->
          </div> <!--/.m-audio-artists-overlay-container-->
        </div> <!--/.m-audio-artists-artist-container-->
      </div> <!-- /.col -->

  </section>
