<!--
|--------------------------------------------------------------------------
|                                 ARTISTS
|--------------------------------------------------------------------------
-->

  <section id="artists">
    <div class="row">
      <div class="small-12 medium-12 large-12 columns">

      <!-- ROW #1
      ======================-->
        <div class="row">
          <div class="small-12 medium-4 columns">
            <div class="artists-block-container artist-1">
              <img src="images/artists/1.jpg">
              <div class="artists-name-text">
                <h5>Artist Name</h5>
              </div> <!-- /.artists-name-text -->
              <div class="artists-hover-div artist-1-hover"></div>
            </div> <!-- /.artists-block-container -->
          </div> <!-- /.col -->

          <div class="small-12 medium-4 columns">
            <div class="artists-block-container artist-2">
              <img src="images/artists/3.jpg">
              <div class="artists-name-text">
                <h5>Artist Name</h5>
              </div> <!-- /.artists-name-text -->
              <div class="artists-hover-div artist-2-hover"></div>
            </div> <!-- /.artists-block-container -->
          </div> <!-- /.col -->

          <div class="small-12 medium-4 columns">
            <div class="artists-block-container artist-3">
              <img src="images/artists/2.jpg">
              <div class="artists-name-text">
                <h5>Artist Name</h5>
              </div> <!-- /.artists-name-text -->
              <div class="artists-hover-div artist-3-hover"></div>
            </div> <!-- /.artists-block-container -->
          </div> <!-- /.col -->
        </div> <!-- /.row -->

        <!-- ROW #2
      ======================-->
        <div class="row">
          <div class="small-12 medium-4 columns">
            <div class="artists-block-container artist-4">
              <img src="images/artists/3.jpg">
              <div class="artists-name-text">
                <h5>Artist Name</h5>
              </div> <!-- /.artists-name-text -->
              <div class="artists-hover-div artist-4-hover"></div>
            </div> <!-- /.artists-block-container -->
          </div> <!-- /.col -->

          <div class="small-12 medium-4 columns">
            <div class="artists-block-container artist-5">
              <img src="images/artists/2.jpg">
              <div class="artists-name-text">
                <h5>Artist Name</h5>
              </div> <!-- /.artists-name-text -->
              <div class="artists-hover-div artist-5-hover"></div>
            </div> <!-- /.artists-block-container -->
          </div> <!-- /.col -->

          <div class="small-12 medium-4 columns">
            <div class="artists-block-container artist-6">
              <img src="images/artists/1.jpg">
              <div class="artists-name-text">
                <h5>Artist Name</h5>
              </div> <!-- /.artists-name-text -->
              <div class="artists-hover-div artist-6-hover"></div>
            </div> <!-- /.artists-block-container -->
          </div> <!-- /.col -->
        </div> <!-- /.row -->

      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </section>
