<section id="m3-8-hero" class="show-for-medium">
  <!-- <h4>Hero Section</h4> -->
  <img src="../images/m3-8/a.jpg" alt="" />
  <img src="../images/m3-8/b.jpg" alt="" />
  <img src="../images/m3-8/c.jpg" alt="" />
</section>

<section id="m3-8-hero-mobile" class="show-for-small-only">
  <img src="../images/m3-8/M3-8_Header_01.jpg" alt="" />
  <img src="../images/m3-8/M3-8_Header_02.jpg" alt="" />
  <img src="../images/m3-8/M3-8_Header_03.jpg" alt="" />
</section>


<section id="m3-8-summary">
  <div class="text-section shade-1">
    <h4>Introducing the M-Audio M3-8 Studio Monitor</h4>

    <p>
      The state-of-the-art M3-8 studio monitor features an advanced and sophisticated design that gives you the clarity, power, and coverage to step your mixes up to the next level. Utilizing three individual class AB amplifiers, high quality low-, mid-, and hi-frequency drivers, and a precision-designed cabinet and baffle, the M3-8 delivers truly spectacular three-way sound with greater midrange detail, higher power-handling and broader sound coverage—from the same compact cabinet size as a standard two-way monitor.
    </p>

    <p>
      The result of all these innovations and thoughtful design touches is an outstanding studio monitor able to perform at a far higher level than the typical monitor—even in the most critical listening environment. Whether you’re mixing a dynamic 100-piece full orchestra, a full throttle rock band or even high-energy electronic music, your mixes will sound real, enabling you to make confident and precise adjustments to your recordings. That’s what a great monitor is supposed to do for you. Your mix is only as good as your monitor. Don’t settle for less than the best. Choose the M-Audio M3-8.
    </p>
  </div>

  <div class="text-section shade-2">
    <h4>In-Line MF/HF Design</h4>

    <p>
      The midrange and tweeter are mounted in-line with each other (the tweeter is actually mounted at the apex of the midrange) at precisely the same point in space. Doing so means the sound of the two drivers integrates perfectly, without the “time/arrival distortion” of conventionally-spaced drive units. Instead, with the M-Audio M3-8, the all-important midrange and treble information reaches your ears at precisely the same time, delivering the ultimate in detail and clarity.
    </p>


    <h4>Kevlar Low and Mid-Frequency Drivers</h4>

    <p>
      Kevlar® is an ideal driver diaphragm material: Incredibly strong, stiff and light (it’s used in military body armor!). We use it in both the M3-8’s 8” woofer and the 5” midrange, giving those units an incredibly fast transient attack, excellent sensitivity and great resistance to cone flexing and resonant breakup at high power levels. Loud, strong and fast—perfect monitor characteristics.
    </p>

  </div>

  <div class="text-section shade-3">
    <h4>Silk Dome Tweeter with Ferro-Fluid Cooling</h4>

    <p>
      The 1” woven silk dome tweeter uses Ferro-fluid voice coil cooling for added reliability at studio power levels and this tweeter imparts virtually no harshness or “listening fatigue,” as is often the case with metal dome tweeters. This is extremely important to the recording engineer who spends hours in the studio listening to their mixes, relying on their unfatigued ears to make subtle adjustments.
    </p>


    <h4>Custom Waveguide</h4>

    <p>
      The tweeter is mounted in an integrated waveguide, which precisely focuses and directs the treble energy into the listening field, ensuring a solid and stable sonic image and minimizing the random acoustic “scatter” that would distract from properly evaluating the recording’s playback.
    </p>
  </div>

  <div class="text-section shade-1">
    <h4>Precision-Designed Baffle and Cabinet</h4>

    <p>
      The attractive baffle is chamfered at the top edges to aid in dispersion and reduce audibly-destructive edge diffraction. We’ve also optimized the cabinet’s internal bracing to ensure that the drivers have a solid, vibration-free platform from which to launch their sound, and we’ve used advanced computer software to determine and calibrate the port’s characteristics for the best possible bass response.
    </p>


    <h4>Three Individual Class AB Amplifiers</h4>

    <p>
      Three individual internal amplifiers provide power to each of the three speaker elements.  These amplifiers are specifically tailored to the drivers they are matched with, for smooth operation and system synergy that is virtually impossible to equal using outboard amplifiers and passive speakers. A total of 220 watts of Class AB amplification empowers the M3-8 with ample headroom for even the loudest mixes. The carefully-selected crossover points divide the frequency spectrum into very precise bands so that each individual driver only handles the exact frequency range where it is most accurate.
    </p>
  </div>

</section>


<div class="division-line row">
  <div class="columns small-1"></div>
  <div class="columns small-5"></div>
  <div class="columns small-5"></div>
  <div class="columns small-1"></div>
</div>


<section id="m3-8-specs">
  <!-- <h4>Specs &amp; Features Section</h4> -->


  <div class="features-specs-wrapper row">
    <div class="left-gutter columns small-12 medium-12 large-1"></div>
    <div class="features columns small-12 medium-6 large-5">
      <h5>Features</h5>

      <ul>
        <li>Precision-designed baffle; optimized internal bracing</li>
        <li>Inline mid- &amp; high-frequency drivers offer superior imaging</li>
        <li>8" woven Kevlar low-frequency driver</li>
        <li>5" woven Kevlar mid-frequency driver</li>
        <li>1" silk dome tweeter with integrated waveguide</li>
        <li>Tri-amp Class A/B power, 220 Watts total</li>
        <li>XLR and 1/4" balanced inputs; RCA unbalanced input</li>
        <li>3-band EQ with bypass; switchable low-cut filter</li>
        <li>Rear-mounted volume and power control</li>
      </ul>


      <div class="bottom-box">
        <p>
          <span class="emphasis-blue">Polarity:</span> Positive signal at + input produces outward LF cone displacement
          <span class="emphasis-blue">Input impedance:</span> 20 k Ω balanced, 10 k Ω unbalanced
          <span class="emphasis-blue">Input sensitivity</span>: 85 mV pink noise input produces 90 dBA output SPL at 1 meter with volume control at maximum
          <span class="emphasis-blue">Protection:</span> Output current limiting; over-temperature; transient on/off protection to prevent speaker "pops"; subsonic filter; external mains fuse Cabinet: Wood front baffle with vinyl-laminated cabinet
          <span class="emphasis-blue">Size (W x H x D):</span> 10.6" x 17.1" x 11.2"; 268 mm x 434 mm x 285 mm
          <span class="emphasis-blue">Weight:</span> 28.2 lbs.; 12.8 kg
        </p>
      </div>


    </div>

    <div class="specs columns small-12 medium-6 large-5">
      <h5>Specs</h5>

      <ul>
        <li><span class="emphasis-blue uppercase">Frequency response:</span></li>
        <li>38 Hz – 22 kHz</li>
        <li><span class="emphasis-blue uppercase">Crossover frequency:</span></li>
        <li>Low-Mid: 450 Hz</li>
        <li>Mid-High: 3.9 kHz</li>
        <li><span class="emphasis-blue uppercase">Amplifier Power:</span></li>
        <li>Low-frequency amplifier power: 150 W</li>
        <li>Mid-frequency amplifier power: 35 W</li>
        <li>High-frequency amplifier power: 35 W</li>
        <li>LF cutoff switch: flat, 60 Hz, 80 Hz</li>
        <li><span class="emphasis-blue uppercase">Equalizer Controls:</span></li>
        <li>LF: ± 6 dB boost/cut at 100 Hz</li>
        <li>MF: ± 6 dB boost/cut at 1 kHz</li>
        <li>HF: ± 6 dB boost/cut at 10 kHz Bypass switch</li>
        <li>Bypass switch</li>
      </ul>

    </div>

    <div class="right-gutter columns small-12 medium-12 large-1"></div>

  </div>

</section>



<section id="m3-8-find-dealer">
  <div class="find-dealer-button">
    <span class="find-dealer-bracket">[</span>
    <span class="find-dealer-text"><a href="/dealers">find a dealer</a></span>
    <span class="find-dealer-bracket">]</span>
  </div>
  <div class='image-shot-wrapper'><img src="../images/m3-8/1.png" alt="" /></div><!--
 --><div class='image-shot-wrapper'><img src="../images/m3-8/2.png" alt="" /></div><!--
--><div class='image-shot-wrapper'><img src="../images/m3-8/3.png" alt="" /></div>
</section>
