<!--
|--------------------------------------------------------------------------
|                                 Features
|--------------------------------------------------------------------------
-->

  <section id="m-track-2x2-features">
    <div class="row full-width-row">

      <!-- Left Column Features Copy
      =============================================-->
      <div class="small-12 medium-12 large-4 columns">
        <div class="m-track-2x2-features-copy-container">
          <div class="m-track-2x2-features-header-accent-color"></div>
          <h4 class="m-track-2x2-features-header">FEATURES</h4>

          <h5 class="feature-callout-blue-text">
            24-bit/192kHz Resolution for Professional Recording and Monitoring
          </h5>
          <p>
            Professional studio-quality recording in a portable desktop form factor
          </p>

          <h5 class="feature-callout-blue-text">
            Featuring All-New Crystal™ Preamps and Pristine D/A converters
          </h5>
          <p>
            Capture every nuance and subtlety of your performance
          </p>

          <h5 class="feature-callout-blue-text">
            Elegant Pro-Grade Metal Chassis
          </h5>
          <p>
            Large central control for easy volume adjustment
          </p>

          <h5 class="feature-callout-blue-text">
            Future-Proofed High-Speed, Zero Latency Recording
          </h5>
          <p>
            Includes standard USB and USB-C connection cables
          </p>

          <h5 class="feature-callout-blue-text">
            2 Dedicated XLR+1/4” Combo Inputs for Mic/Line Sources
          </h5>
          <p>
            +48V phantom power switch to accommodate all microphone types
          </p>

          <h5 class="feature-callout-blue-text">
            2 Dedicated 1/4” Instrument Inputs for Guitar or Bass
          </h5>
          <p>
            Tailor-made gain and impedance stage for a pristine, accurate DI signal
          </p>

          <h5 class="feature-callout-blue-text">
            Stereo 1/4” Main Outputs; 1/4” Headphone Output
          </h5>
          <p>
            With independent level controls
          </p>

          <h5 class="feature-callout-blue-text">
            5-PIN MIDI DIN Input and Outputs
          </h5>
          <p>
            Connect your synths, sequencers, or other external MIDI gear
          </p>


          <div class="m-track-2x2-features-header-accent-color"></div>
          <h5 class="feature-callout-blue-text">
            General Specs
          </h5>
          <ul class="m-track-2x2-features-ul">
            <li>Power: USB-bus-power</li>
            <li>Dimensions 6.0” x 2.8” x 7.8</li>
            <li>15.2 cm x 7.1 cm x 19.8 cm</li>
            <li>Weight 2.0 lbs.</li>
          </ul>

          <h5 class="feature-callout-blue-text">
            Requirements
          </h5>
          <ul class="m-track-2x2-features-ul">
            <li>Minimum System Requirements:</li>
            <li>Standard USB 2.0 or USB-C Port</li>
            <li>Windows: 7 (32 or 64 bit) OSX: 10.8</li>
          </ul>


        </div> <!--/.m-track-2x2-features-copy-container-->
      </div> <!-- /.col -->



      <!-- Right Column Features Slideshow photos etc
      =============================================-->
      <div class="small-12 medium-12 large-8 columns">
        <div class="features-slick-slider-wrapper">
          <div><img src="images/microsite/m-track2x2M/features/1.jpg" alt="" /></div>
          <div><img src="images/microsite/m-track2x2M/features/2.jpg" alt="" /></div>
          <div><img src="images/microsite/m-track2x2M/features/3.jpg" alt="" /></div>
        </div> <!--/.features-slick-slider-wrapper-->

        <div class="row full-width-row">
          <div class="small-12 medium-12 large-6 columns features-bottom-photos-column">
            <div class="features-bottom-photos-wrapper photo-wrapper-1">
              <img src="images/microsite/m-track2x2M/features/m-track.png" alt="" />
            </div> <!--/.features-bottom-photos-wrapper-->
          </div> <!-- /.col -->

          <div class="small-12 medium-12 large-6 columns features-bottom-photos-column">
            <div class="features-bottom-photos-wrapper photo-wrapper-2">
              <img src="images/microsite/m-track2x2M/features/vocals.png" alt="" />
            </div> <!--/.features-bottom-photos-wrapper-->
          </div> <!-- /.col -->
        </div> <!-- /.row -->


      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </section>
