<!--
|--------------------------------------------------------------------------
|                                 Hero
|--------------------------------------------------------------------------
-->

  <section id="m-track-2x2-hero">
    <div class="row full-width-row">
      <div class="small-12 medium-12 large-12 columns">
        <div class="m-track-2x2-hero-container">
          <video src="http://cdn.inmusicbrands.com/m-audio/m-audio-website-videos/conner-youngblood.mp4" autoplay loop mute width="100%" height="100%"></video>

          <div class="m-track-2x2-hero-overlay">

            <div class="m-track-2x2-hero-conner-logo">
              <img src="images/microsite/m-track2x2/hero/conner-logo.png" alt="" />
            </div> <!--/.m-track-2x2-hero-noblesse-logo-->



            <!-- Obilsse Oblige Modal
            ===================================-->

              <div class="reveal small" id="exampleModal1" data-reveal>
                <div class="flex-video">
                  <iframe width="100%" height="720" src="https://www.youtube.com/embed/x3HZ98oRpBQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <button class="close-button" data-close aria-label="Close modal" type="button">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>



            <div class="m-track-2x2-hero-m-track-logo">
              <img src="images/microsite/m-track2x2/hero/m-track-logo.png" alt="" />
            </div> <!--/.m-track-2x2-hero-m-track-logo-->

          </div> <!--/.m-track-2x2-hero-overlay-->
        </div> <!--/.m-track-2x2-hero-container-->
      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </section>

<div class="noblesse-oblige-reveal"></div> <!--/.noblesse-oblige-reveal-->
