<!--
|--------------------------------------------------------------------------
|                                 Quote Strip
|--------------------------------------------------------------------------
-->

  <section id="m-track-2x2-included-quote-strip">
    <div class="row full-width-row">
      <div class="small-12 medium-12 large-12 columns">
        <div class="m-track-2x2-included-quote-strip-container">
            <span>THE HEART OF YOUR STUDIO</span>
        </div> <!--/.m-track-2x2-included-quote-strip-container-->
      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </section>
