<!--
|--------------------------------------------------------------------------
|                                 bx8 Features
|--------------------------------------------------------------------------
-->

<section class="bx8-features">
  <div class="expanded row">
    <div class="small-12 medium-12 large-12 columns">
      <div class="bx8-features-container">
        <h1 class="bx8-features-header">Why You Need a Monitor</h1>

          <div class="row">
            <div class="small-12 medium-12 large-8 large-offset-2 columns">
              <p>A studio  monitor  is  no ordinary  loudspeaker.  Unlike  a conventional  speaker, a true monitor  must be  unerringly accurate, with  a flat  frequency response and vanishingly  low  distortion.  It  has to tell  you, the music  producer— dependably and unquestionably—exactly what is or is not in your recording. In a studio-grade monitor speaker, there is no place for the usual list of speaker colorations and limitations prevalent in conventional loudspeakers. Response peaks\dips, uneven polar response, high  THD, nasal  midrange,  bloated mid-bass,  and crossover-induced phase incoherence do nothing but undermine the confidence demanded for superior mix performance.</p>

              <p>Introducing M-Audio’s BX8-D3 monitors—the return of a studio icon and the successor to the industry-renowned BX D2 monitors. Trusted by recording/mix engineers and composers globally, M-Audio’s BX monitors guarantee absolute surgical precision and repeatable engineering excellence.</p>

              <p style="padding-bottom: 60px;">Listen with confidence: with M-Audio’s BX8-D3 studio reference monitors, you’ll hear everything in lifelike detail, so your mixes and recordings will sound their best!</p>
            </div> <!-- /.col -->
          </div> <!-- /.row -->

          <div class="expanded row">
            <div class="small-12 medium-6 large-6 columns">
              <div class="bx8-features-img-container bx8-features-front-img">
                <img src="images/bx8/features/front.png" alt="">
              </div> <!-- /.bx8-features-img-container -->
            </div> <!-- /.col -->

            <div class="small-12 medium-6 large-6 columns">
              <div class="bx8-features-img-container bx8-features-back-img">
                <img src="images/bx8/features/back.png" alt="">
              </div> <!-- /.bx8-features-img-container -->
            </div> <!-- /.col -->
          </div> <!-- /.row -->

      </div> <!-- /.bx8-features-background-container -->
    </div> <!-- /.col -->
  </div> <!-- /.row -->
</section>
