<!--
|--------------------------------------------------------------------------
|                                 BX5 Videos & Photos
|--------------------------------------------------------------------------
-->

<section class="bx5-videos-photos product-content-jquery">
  <div class="row">
    <div class="small-12 medium-12 large-12 columns">

      <div id="bx5-lightgallery">
        <div class="row small-up-1 medium-up-3">
          <div class="column column-block">
            <a href="images/bx8/photos/ortho.jpg">
              <img src="images/bx8/photos/ortho.jpg">
            </a>
          </div>
          <div class="column column-block">
            <a href="images/bx8/photos/angle.jpg">
              <img src="images/bx8/photos/angle.jpg">
            </a>
          </div>
          <div class="column column-block">
            <a href="images/bx8/photos/back.jpg">
              <img src="images/bx8/photos/back.jpg">
            </a>
          </div>
        </div>
      </div> <!-- /#bx5-lightgallery -->

    </div> <!-- /.col -->
  </div> <!-- /.row -->
</section>
