<!--
|--------------------------------------------------------------------------
|                                 Mobile Nav
|--------------------------------------------------------------------------
-->

  <section id="mobile-nav">
    <button class="close-button" aria-label="Close menu" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>

    <ul class="mobile-ofc vertical menu">

      <!-- International -->
      <li>
        <ul class="submenu menu vertical" data-submenu>
          <li class="title">International</li>
           <li><a href="http://m-audio.com">United States</a></li>
           <li><a href="http://ca.m-audio.com">Canada</a></li>
           <li><a href="http://uk.m-audio.com">United Kingdom</a></li>
           <li><a href="http://la.m-audio.com">Latin America</a></li>
           <li><a href="http://br.m-audio.com">Brasil</a></li>
           <li><a href="http://fr.m-audio.com">France</a></li>
           <li><a href="http://m-audio.de">Germany</a></li>
           <li><a href="http://jp.m-audio.com">Japan</a></li>
        </ul>
      </li>

      <!-- Products -->
       <li>
         <ul class="submenu menu vertical" data-submenu>
           <li class="title">Products</li>
             <li><a href="#">New Products</a></li>
             <li><a href="#">USB Audio | Midi Interfaces</a></li>
             <li><a href="#">Keyboard Controllers</a></li>
             <li><a href="#">Monitors | Headphones</a></li>
             <li><a href="#">Microphones</a></li>
             <li><a href="#">Accessories</a></li>
          </ul>
       </li>


       <!-- Store -->
       <li>
         <ul class="submenu menu vertical" data-submenu>
           <li class="title">Store</li>
           <li><a href="/store">On-Line Store</a></li>
           <li><a href="http://www.ptxstore.com/m-audio" target="_blank">Merch / Apparel</a></li>
           <li><a href="/rebates">Rebates</a></li>
         </ul>
       </li>


       <!-- Support -->
       <li>
         <ul class="submenu menu vertical" data-submenu>
           <li class="title">Support</li>
           <li><a href="/support">Support Options</a></li>
           <li><a href="/kb">Knowledge Base</a></li>
           <li><a href="/support/drivers">Drivers &amp; Updates</a></li>
           <li><a href="/support/documents">Documents</a></li>
           <li><a href="/support/contact">Contact Support</a></li>
           <li><a href="http://community.m-audio.com" target="_blank">Community Support</a></li>
         </ul>
       </li>


       <!-- News -->
       <li>
         <ul class="submenu menu vertical" data-submenu>
           <li class="title">News</li>
           <li><a href="/news">News Articles</a></li>
           <li><a href="/news/subscribe">Newsletter Signup</a></li>
         </ul>
       </li>

       <!-- Company -->
       <li>
         <ul class="submenu menu vertical" data-submenu>
           <li class="title">Company</li>
           <li><a href="/company/about">About Us</a></li>
           <li><a href="/media">Media Resources</a></li>
           <li><a href="/careers">Careers</a></li>
           <li><a href="/company/privacy_policy">Privacy</a></li>
           <li><a href="/contact">Contact</a></li>
           <li><a href="/dealers">Find a Dealer</a></li>
           <li><a href="/distributors">International Distributors</a></li>
         </ul>
       </li>


       <li><a href="#">Artists</a></li>



       <!-- Account -->
       <li>
         <ul class="submenu menu vertical" data-submenu>
           <li class="title">Account</li>
           <li><a href="/account/create">Create Account</a></li>
       		 <li><a href="/account/signin">Sign In</a></li>
         </ul>
       </li>

       <!-- Search -->
       <!-- <li><a href="#"><i class="ion-ios-search"></i></a></li> -->

    </ul>
  </section>
