<!--
|--------------------------------------------------------------------------
|                                 Hero
|--------------------------------------------------------------------------
-->

  <section id="noblesse-oblige-hero">
    <div class="row">
      <div class="small-12 medium-12 large-6 columns">
        <img class="sebastian-hero-img" src="images/artists/noblesse-oblige/sebastian.jpg" alt="" />
        <span class="noblesse-oblige-photo-credit">photo by: Jakub Koncir </span>
      </div> <!-- /.col -->


      <div class="small-12 medium-12 large-6 columns">
        <img class="valerie-hero-img" src="images/artists/noblesse-oblige/valerie.jpg" alt="" />
        <span class="noblesse-oblige-photo-credit">photo: Stéphane Deleersnijder</span>
      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </section>

<!--
|--------------------------------------------------------------------------
|                          Header Text & Copy
|--------------------------------------------------------------------------
-->

  <section id="noblesse-oblige-header">
    <div class="row">
      <div class="small-12 medium-12 large-12 columns">
        <h3 class="noblesse-oblige-header-text">MEET VALERIE RENAY &amp; SEBASTIAN LEE PHILIPP <br>of NOBLESSE OBLIGE</h3>
        <div id="share"></div>
        <p>
          Noblesse Oblige are French songwriter Valerie Renay and German producer Sebastian Lee Philipp. Originally formed in London in 2004, the duo has been a part of Berlin’s thriving independent music scene since 2006, releasing four albums and playing over 300 Live shows around the world. Their song “4 A.M.” was originally released on the band’s second album In Exile, which won the prestigious Russian “Steppenwolf” Music award in 2008. Beside their work as <strong><a href="https://www.facebook.com/noblesseobligeofficial/" target="_blank">Noblesse Oblige</a></strong>, Valerie is currently working on <strong><a href="https://www.facebook.com/valerierenaysolo/" target="_blank">her debut solo album</a></strong>, while Sebastian has just released his first album as part of electronic Krautrock project <strong><a href="https://www.facebook.com/diewildejagd/" target="_blank">Die Wilde Jagd</a></strong>.
        </p>

        <p>
          Having toured and performed with artists including Dresden Dolls, IAMX, Vive La Fete and Patti Smith among others, Noblesse Oblige gained a notorious reputation for their wild and spectacular live shows. Taking turns in playing guitar, samplers, piano, keyboards and drums or melodica, Sebastian and Valerie blend edgy electronics with a raw live sound that captures the sleazy, ambiguous tension within the duos sensual performance.
        </p>
      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </section>


<!--
|--------------------------------------------------------------------------
|                   2 column photo left text right
|--------------------------------------------------------------------------
-->

  <section id="noblesse-oblige-photo-text-columns">
    <div class="row" data-equalizer data-equalize-on="large">
      <div class="small-12 medium-12 large-6 columns">
        <div class="noblesse-oblige-left-photo-container" data-equalizer-watch>
          <img src="images/artists/noblesse-oblige/noblesse.jpg" alt="" />
        </div> <!--/.noblesse-oblige-bold-text-callout-container-->
        <span class="noblesse-oblige-photo-credit">photo by: Chipi</span>
      </div> <!-- /.col -->

      <div class="small-12 medium-12 large-6 columns">
          <div class="noblesse-oblige-bold-text-callout-container" data-equalizer-watch>
            <h2 class="noblesse-oblige-bold-text-callout"><em>Their songs are often accompanied by tri-lingual lyrics that range from child-like nursery rhymes, to more sensual and dreamlike tales of unfound love and loneliness.</em></h2>
          </div> <!--/.noblesse-oblige-bold-text-callout-container-->
      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </section>





<!--
|--------------------------------------------------------------------------
|                                 Video & Links
|--------------------------------------------------------------------------
-->

  <section id="noblesse-oblige-video-links">
    <div class="row">
      <div class="small-12 medium-12 large-12 columns">
        <div class="noblesse-oblige-black-copy">
          <p>
            We had a blast in Berlin with our new M-Track 2X2M C-Series Audio/Midi Interface recording their track “4 A.M.”  Enjoy the video!
          </p>
        </div> <!--/.noblesse-oblige-black-copy-->


        <div class="noblesse-oblige-artist-page-video-container flex-video widescreen">
          <iframe width="1280" height="720" src="https://www.youtube.com/embed/x3HZ98oRpBQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>

        <ul class="noblesse-oblige-ul">
          <li><span>LINKS:</span></li>
          <li>
            <a href="https://www.facebook.com/noblesseobligeofficial/" target="_blank">Noblesse Oblige</a>
          </li>
          <li>
            <a href="https://www.facebook.com/diewildejagd/" target="_blank">Die Wilde Jagd</a>
          </li>
          <li>
            <a href="https://www.facebook.com/valerierenaysolo/" target="_blank">Valerie Renay</a>
          </li>
          <li>
            <a href="http://www.valquire.de" target="_blank">Valquire.de</a>
          </li>
        </ul>
      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </section>
