<!--==== TIMBER FRAMEWORK ====-->
  <!-- <script src="assets/premium/timber-framework/js/timber.min.js"></script> -->
  <!-- <script src="assets/premium/timber-framework/js/timber.master.min.js"></script> -->

<!--==== REVOLUTION SLIDER JS ====-->
  <script src="assets/premium/slider-revolution/revolution/js/jquery.themepunch.tools.min.js"></script>
  <script src="assets/premium/slider-revolution/revolution/js/jquery.themepunch.revolution.min.js"></script>

<!--==== CUBE PORTFOLIO JS ====-->
  <!-- <script src="assets/premium/cubeportfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"></script> -->
  <!-- <script>
    $(document).ready(function() {
      $('#grid-container').cubeportfolio({
        // options
      });
    });
  </script> -->

<!--==== JET MEGA MENU ====-->
  <script src="assets/premium/jet-mega-menu/files/js/jetmenu.js"></script>
  <!-- <script>
    $(document).ready(function(){
      $().jetmenu();
    });
  </script> -->

