/***********************************************
  PRODUCT PAGE NAV    PRODUCT PAGE NAV
************************************************/

  nav#product-page-nav {
    margin-top: 5%;

    a {
      color: #CBC8C7;
    }

    h4 {
      margin: 0;
      // font-family: $font-pn-thin;
      padding-left: 20px;
      flex-grow: 2;
    }

    .sticky-nav-link:focus,
    .sticky-nav-link:hover {
      color: $m-audio-slate;
    }

    .product-page-nav-container {
      display: flex;
      align-items: baseline;
      justify-content: center;
      // border-bottom: 1px solid $m-audio-orange;
      // border: 5px solid red;

      ul {
        // padding-right: 20px;
        list-style: none;
        margin: 0;
        // border: 5px solid red;

        li {
          padding-top: 5px;
          font-weight: 400;
          display: inline-block;
          // border: 2px solid green;
        }
      }
    } /* product-page-nav-container */

    .product-overview {
      padding: 0 40px;
      border-top: 5px solid #C1CED6;
    }

    .product-features {
      padding: 0 20px;
      margin-left: -5px;
      border-top: 5px solid #839FAE;
    }

    .product-media {
      padding: 0 40px;
      margin-left: -5px;
      border-top: 5px solid #808285;
    }

    .product-page-nav-left-bracket {
      padding-right: 10px;
    }

    .product-page-nav-right-bracket {
      padding-left: 10px;
    }

    .features-left-bracket,
    .media-left-bracket,
    .features-right-bracket,
    .media-right-bracket {
      display: none;
    }

  } /* nav#product-page */
