/*
|--------------------------------------------------------------------------
|                                 PRODUCT PAGE DOWNLOADS
|--------------------------------------------------------------------------
*/

section#product-page-downloads {

  .product-page-downloads-divider-line {
    z-index: -1;
    height: 1px;
    width: 100%;
    // margin: 2% 0;
    position: absolute;
    top: 50%;
  }

  .product-page-downloads-section-header {
    // padding: 2% 0;
    text-align: center;
    position: relative;
    // border: 2px solid purple;

    h4 {
      z-index: 99;
      width: 13%;
      margin: 0 auto;
      background: #fff;
      // border: 2px solid green;
    }
  }

}
