/***********************************************
  PRODUCT PAGE FEATURES    PRODUCT PAGE FEATURES
************************************************/

  .product-page-features-divider-line {
    z-index: -1;
    height: 1px;
    width: 100%;
    // margin: 2% 0;
    position: absolute;
    top: 50%;
  }

  section#product-page-features {
    // padding: 0 0 2% 0;

    h4 {
      color: $m-audio-slate;
    }

    .product-page-features-section-header {
      // padding: 2% 0;
      text-align: center;
      position: relative;
      // border: 2px solid purple;

      h4 {
        z-index: 99;
        width: 15%;
        margin: 0 auto;
        background: #fff;
        // border: 2px solid green;
      }
    }

    .product-page-features-container {
      padding-top: 5%;

      ul {
        list-style: none;
      }

      li {
        padding: 1% 0;
        color: $m-audio-text;
        // border-bottom: 1px solid $m-audio-slate;
      }
    }


    .product-page-requirements-container,
    .product-page-specs-container {
      padding-top: 3%;

      ul {
        list-style: none;
      }

      li {
        padding: 1% 0;
        color: $m-audio-text;
        // border-bottom: 1px solid $m-audio-slate;
      }
    }
  } /* section#product-page-overview */







/*
|--------------------------------------------------------------------------
|                      MEDIUM MEDIA QUERIES
|                min-width 641px and max-width 1024px
|--------------------------------------------------------------------------
*/

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

  section#product-page-features .product-page-features-container {
    padding: 5%;
  }

  .product-page-requirements-container,
  .product-page-specs-container {
    padding: 3% 5%;
  }

}/* MEDIUM MEDIA QUERY */







/*
|--------------------------------------------------------------------------
|                      SMALL MEDIA QUERIES
|                       max-width 640px
|--------------------------------------------------------------------------
*/

@media only screen and (max-width: 40em) {

  section#product-page-features .product-page-features-container h4,
  section#product-page-features .product-page-specs-container h4,
  section#product-page-features .product-page-requirements-container h4 {
    font-size: calc(22px + 9 * ( (100vw - 420px) / 860));
    margin: 0;
  }

  section#product-page-features .product-page-features-container li,
  section#product-page-features .product-page-specs-container li,
  section#product-page-features .product-page-requirements-container li {
    font-size: calc(14px + 9 * ( (100vw - 420px) / 860));
  }

}/* SMALL MEDIA QUERY */
