/***********************************************
  PRODUCT PAGE OVERVIEW    PRODUCT PAGE OVERVIEW
************************************************/

  section#product-page-overview {
    // padding-top: 5%;
    // background: #f5f5f5;
    // border: 5px solid purple;

    h4 {
      // font-family: $font-pn-light;
    }

    p {
      color: $m-audio-text;
      word-wrap: break-word;
    }

    .product-page-overview-section-header {
      text-align: center;
      position: relative;
      // border: 2px solid purple;
    }

    .product-page-overview-container {
      padding: 5%;

      strong {
        color: $m-audio-slate;
      }
    }
  } /* section#product-page-overview */







/*
|--------------------------------------------------------------------------
|                      SMALL MEDIA QUERIES
|                       max-width 640px
|--------------------------------------------------------------------------
*/

@media only screen and (max-width: 40em) {

  nav#product-page-nav .product-page-nav-container ul li {
    display: block;
    margin-bottom: 15px;
  }

  .product-overview,
  .product-features,
  .product-media {
    text-align: center;
  }

  nav#product-page-nav .product-overview,
  nav#product-page-nav .product-features,
  nav#product-page-nav .product-media {
    padding: 0;
  }

}/* SMALL MEDIA QUERY */
