/***********************************************
  PRODUCT PAGE OVERVIEW    PRODUCT PAGE OVERVIEW
************************************************/

  section#product-page-overview {
    // padding-top: 5%;

    h4 {
      // font-family: $font-pn-light;
    }

    p {
      color: $m-audio-text;
    }

    .product-page-overview-section-header {
      text-align: center;
      position: relative;
      // border: 2px solid purple;
    }

    .product-page-overview-container {
      padding: 5%;

      strong {
        color: $m-audio-slate;
      }
    }
  } /* section#product-page-overview */
