/***********************************************
  PRODUCT PAGE HERO    PRODUCT PAGE HERO
************************************************/

  section#product-page-hero {

    .product-page-hero-container {
      padding-top: 80px;
      // width: 50%;
      // border: 5px solid green;
    }

    .product-carousel {
      // border: 5px solid green;
    }

    h1 {
      margin: 0;
      color: #AAA9A7;
      font-size: 5rem;
      border-bottom: 3px solid #AAA9A7;
    }

    .product-page-hero-text-wrapper {
      margin-top: 15%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      // border: 5px solid red;

      .product-page-name-header {
        // border: 5px solid blue;
      } /* product-page-name-header */

      .product-page-name-sub-header {
        padding: 20px 0;
        width: 40%;
        text-align: center;
        // border: 5px solid pink;

        h6 {
          font-family: $font-secondary;
          color: #77777B;
        }
      } /* product-page-name-sub-header */

      .product-page-name-hero-copy {
        width: 80%;
        // border: 5px solid gold;
      } /* product-page-name-hero-copy */

    } /* product-page-hero-text-wrapper */

    .find-a-dealer-btn,
    .buy-online-btn {
      font-family: $font-secondary;
      background: #F5F5F5;
      margin-bottom: 15px;
      padding: 10px;
    }

    .buy-online-brackets {
      color: $m-audio-slate;
    }

  } /* section#product-page-hero */







/*
|--------------------------------------------------------------------------
|                      MEDIUM MEDIA QUERIES
|                min-width 641px and max-width 1024px
|--------------------------------------------------------------------------
*/

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

  .product-page-hero-container {
    margin-top: 0px !important;
    // width: 50%;
    // border: 5px solid green;
  }

  .product-page-hero-text-wrapper {
    text-align: center;
    margin-top: 5% !important;
    // border: 5px solid red;

    .product-page-name-hero-copy {
      margin: 0 auto;
      // border: 5px solid red;
    }

  } /* product-page-hero-text-wrapper */

}/* MEDIUM MEDIA QUERY */
