<!--
|--------------------------------------------------------------------------
|                                 BX5 Buttons
|--------------------------------------------------------------------------
-->

<section class="bx5-buttons">
  <div class="row">
    <div class="small-12 medium-12 large-4 columns">
      <a href="http://m-audio.com/dealers">
        <div class="bx5-button-container bx5-dealer-btn">
          <h5 class="bx5-button-text">Find a Dealer</h5>
        </div> <!-- /.bx5-button-container -->
      </a>
    </div> <!-- /.col -->


    <div class="small-12 medium-12 large-4 columns">
      <a href="#">
        <div class="bx5-button-container bx5-buy-btn">
          <h5 class="bx5-button-text">Buy Now</h5>
        </div> <!-- /.bx5-button-container -->
      </a>
    </div> <!-- /.col -->


    <div class="small-12 medium-12 large-4 columns">
      <a href="http://m-audio.com/support">
        <div class="bx5-button-container bx5-support-btn">
          <h5 class="bx5-button-text">Support</h5>
        </div> <!-- /.bx5-button-container -->
      </a>
    </div> <!-- /.col -->
  </div> <!-- /.row -->
</section>
