<!--
|--------------------------------------------------------------------------
|                                 BX5 Features
|--------------------------------------------------------------------------
-->

<section class="bx5-features">
  <div class="expanded row">
    <div class="small-12 medium-12 large-12 columns">
      <div class="bx5-features-container">
        <!-- <img src="images/bx5/features/background.jpg" alt=""> -->
        <h1 class="bx5-features-header">Why You Need a Monitor</h1>

          <div class="row">
            <div class="small-12 medium-12 large-8 large-offset-2 columns">
              <p>A studio  monitor  is  no ordinary  loudspeaker.  Unlike  a conventional  speaker, a true monitor  must be  unerringly accurate, with  a flat  frequency response and vanishingly  low  distortion.  It  has to tell  you, the music  producer— dependably and unquestionably—exactly what is or is not in your recording. In a studio-grade monitor speaker, there is no place for the usual list of speaker colorations and limitations prevalent in conventional loudspeakers. Response peaks\dips, uneven polar response, high  THD, nasal  midrange,  bloated mid-bass,  and crossover-induced phase incoherence do nothing but undermine the confidence demanded for superior mix performance.</p>
            </div> <!-- /.col -->
          </div> <!-- /.row -->

          <div class="expanded row">
            <div class="small-12 medium-6 large-6 columns">
              <div class="bx5-features-img-container bx5-features-front-img">
                <img src="images/bx5/features/front.png" alt="">
              </div> <!-- /.bx5-features-img-container -->
            </div> <!-- /.col -->

            <div class="small-12 medium-6 large-6 columns">
              <div class="bx5-features-img-container bx5-features-back-img">
                <img src="images/bx5/features/back.png" alt="">
              </div> <!-- /.bx5-features-img-container -->
            </div> <!-- /.col -->
          </div> <!-- /.row -->

      </div> <!-- /.bx5-features-background-container -->
    </div> <!-- /.col -->
  </div> <!-- /.row -->
</section>
