<!--
|--------------------------------------------------------------------------
|                                 BX5 Specs
|--------------------------------------------------------------------------
-->

<section class="bx5-specs product-content-jquery">
  <div class="row">
    <div class="small-12 medium-12 large-12 columns">
      <table>
        <tbody>
          <tr>
            <td class="bx5-specs-header" width="400">Type</td>
            <td>2-way near-field studio reference monitors</td>
          </tr>
          <tr>
            <td class="bx5-specs-header">Low Freq. Driver</td>
            <td>5 inch (127mm) Kevlar curved cone with high temperature voice coil and damped rubber surround. Magnetically shielded</td>
          </tr>
          <tr>
            <td class="bx5-specs-header">High Freq. Driver</td>
            <td>1 inch (25mm) magnetically shielded natural silk dome</td>
          </tr>
          <tr>
            <td class="bx5-specs-header">Frequency Response</td>
            <td>52 Hz – 35 kHz</td>
          </tr>
          <tr>
            <td class="bx5-specs-header">Crossover Frequency</td>
            <td>2.0kHz</td>
          </tr>
          <tr>
            <td class="bx5-specs-header">Low Freq. Amplifier Power</td>
            <td>65W</td>
          </tr>
          <tr>
            <td class="bx5-specs-header">High Freq. Amplifier Power</td>
            <td>55W</td>
          </tr>
          <tr>
            <td class="bx5-specs-header">Maximum Peak SPL</td>
            <td>85mV pink noise input produces 96dBA output SPL at 1</td>
          </tr>
          <tr>
            <td class="bx5-specs-header">Input Sensitivity</td>
            <td>85mV pink noise input produces 96dBA output SPL at 1</td>
          </tr>
          <tr>
            <td class="bx5-specs-header">Input Connectors</td>
            <td>1x XLR balanced input connector
            1x TRS balanced/unbalanced  input connector</td>
          </tr>
          <tr>
            <td class="bx5-specs-header">Input Impedance</td>
            <td>10kΩ balanced, 20kΩ unbalanced</td>
          </tr>
          <tr>
            <td class="bx5-specs-header">Polarity</td>
            <td>Positive signal at + input produce outward LF cone displacement</td>
          </tr>
          <tr>
            <td class="bx5-specs-header">Protection</td>
            <td>RF interference, output current limiting, over temperature, turn on/off transient, subsonic filter, external mains fuse</td>
          </tr>
          <tr>
            <td class="bx5-specs-header">Power</td>
            <td><strong>Voltage:</strong> 100–120V, 50/60 Hz / 220–240V, 50/60 Hz <strong>Consumption:</strong> 100W</td>
          </tr>
          <tr>
            <td class="bx5-specs-header">Fuse</td>
            <td>220–240V~ T1AL 250V / 100–120V~ T1.6AL 250V</td>
          </tr>
          <tr>
            <td class="bx5-specs-header">Cabinet</td>
            <td>Vinyl-laminated high-acoustic-efficiency  MDF</td>
          </tr>
          <tr>
            <td class="bx5-specs-header">Dimensions(width x depth x height)</td>
            <td>6.9” x 7.8” x 10” / 176 x 197 x 254 mm</td>
          </tr>
          <tr>
            <td class="bx5-specs-header">Weight</td>
            <td>13.2 lbs, 6.0kg</td>
          </tr>
        </tbody>
      </table>
    </div> <!-- /.col -->
  </div> <!-- /.row -->
</section>
