<!--
|--------------------------------------------------------------------------
|                                 BX5 Video Modal
|--------------------------------------------------------------------------
-->

<section class="bx5-video-modal">
  <div class="expanded row">
    <div class="small-12 medium-12 large-12 columns">
      <img src="images/bx5/video/video.jpg" alt="" data-open="exampleModal1"/>
    </div> <!-- /.col -->
  </div> <!-- /.row -->
</section>

<div class="reveal large" id="exampleModal1" data-reveal>
  <div class="responsive-embed widescreen">
    <iframe width="1280" height="720" src="https://www.youtube.com/embed/uOe4tGcSK-s?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div> <!-- /.reveal -->
