<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>M-Audio | NEW!</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include "_partials/head.html" %}
  </head>
<body>

<!-- You write code for this content block in another file -->
  {% block content %}{% endblock %}




  {% include "_partials/scripts.html" %}
</body>
</html>
