/*
|--------------------------------------------------------------------------
|                              Hero
|--------------------------------------------------------------------------
*/

  section#adara-hero {
    padding-top: 80px;

    .adara-hero-image-container {
      border-bottom: 5px solid black;

      img {
        padding-bottom: 5px;
      }
    }
  }





/*
|--------------------------------------------------------------------------
|                                 Header
|--------------------------------------------------------------------------
*/

  section#adara-header {
    padding-top: 50px;

    a {
      color: black;
    }

    p {
      font-size: 1.2rem;
    }
  }

  #share {
    padding-bottom: 30px;
  }

  .adara-header-text {
    margin: 0;
    font-weight: 700;
    text-decoration: underline;
    // border: 5px solid red;
  }





/*
|--------------------------------------------------------------------------
|                                 Sound Cloud
|--------------------------------------------------------------------------
*/

  section#adara-soundcloud {
    padding-top: 50px;
  }







/*
|--------------------------------------------------------------------------
|                                 Copy
|--------------------------------------------------------------------------
*/

  section#adara-copy {
    padding-top: 50px;

    a {
      color: black;
    }

    p {
      font-size: 1.2rem;
    }
  }

  .adara-artist-page-video-container {
    // width: 50%;
  }

  .adara-ul {
    margin: 0;
    padding: 20px 0;

    li {
      display: inline-block;
      padding-right: 10px;

      span {
        font-weight: 700;
      }
    }

    a {
      text-decoration: underline;
    }
  }







/*
|--------------------------------------------------------------------------
|                      MEDIUM MEDIA QUERIES
|                min-width 641px and max-width 1024px
|--------------------------------------------------------------------------
*/

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

  section#adara-hero {
    padding-top: 0;
  }

  section#adara-soundcloud {
    padding-top: 0;
  }

  section#adara-copy {
    padding-top: 20px;
}

}/* MEDIUM MEDIA QUERY */







/*
|--------------------------------------------------------------------------
|                      SMALL MEDIA QUERIES
|                       max-width 640px
|--------------------------------------------------------------------------
*/

@media only screen and (max-width: 40em) {

  section#adara-hero {
    padding-top: 0;
  }

  section#adara-soundcloud {
    padding-top: 0;
  }

  section#adara-copy {
    padding-top: 20px;
  }

  .adara-header-text {
    font-size: 1.5rem;
  }

  section#adara-header p,
  section#adara-copy p {
    font-size: 1rem;
  }

  .adara-ul {
    margin: 0;
    padding: 20px 0;

    li {
      display: block;
      padding-right: 10px;

      span {
        font-weight: 700;
      }
    }

    a {
      text-decoration: underline;
    }
  }


}/* SMALL MEDIA QUERY */
